[attributes]
---
label: French Main
app_layout: basic
position: 1
[content]
<header>
            <div class="wca">
                <div class="blade-wrapper standard">
                    <div class="blade navbar">
                        <div class="skip-to-div">
                            <a class="skip-to-main btn btn-light" href="#main">Skip to main content</a>
                        </div>
                        <div class="container-fluid container-fluid-nav">
                            <a aria-label="University of Alberta" class="navbar-brand fr-logo" href="https://www.ualberta.ca/index.html"></a>
                            <div class="site-title">
                                <a href="/francais">Bibliothèque</a>
                            </div>
                            <div class="nav-right-buttons language-width">
               <div class="language-selector notranslate">
               <a id="dark-mode-toggle" data-toggle-second="tooltip" data-bs-placement="left" title="dark mode" tabindex="0" aria-label="dark mode" data-original-title="Dark/Light Mode" type="button"><span aria-hidden="true" class="fa-solid fa-moon" id="mode"></span></a> 
    <span class="d-block d-lg-none"><a aria-label="Language Selector" class="btn nav-language-btn  language-toggle notranslate" data-language="fr-CA" href="{{ cms:text translated-url }}" type="button">EN</a></span>
                                    <span class="d-none d-lg-block"><a aria-label="Language Selector" class="btn nav-language-btn  language-toggle notranslate" data-language="fr-CA" href="{{ cms:text translated-url }}" type="button">English</a></span>
                                    
							
             
              <a aria-label="Site Search" class="nav-search-btn btn" data-bs-target="#navSearchBanner" data-toggle-second="tooltip" data-bs-placement="right" title="site search" id="navSearchButton" type="button" href="/site-search">
								<span aria-hidden="true" class="m-search fa fa-search"></span>
							</a>
						</div>
					</div>
                            <div class="standard-nav nav-order nav-width">
                                <nav>
                                    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Menu" class="navbar-toggler nav-menu-btn btn" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" title="Menu" type="button">
                                        <span aria-hidden="true" aria-label="Toggle Menu" class="fa fa-bars" id="navbar-hamburger">
                                           
                                        </span>
                                        <span aria-hidden="true" aria-label="Toggle Close Menu" class="fa fa-times d-none" id="navbar-close">
                                        </span>
                                    </button>
                                    <div class="navbar navbar-expand-lg navbar-ua navbar-access navbar-position">
                                        <div class="container-fluid container-fluid-nav">
                                            <div class="collapse navbar-collapse nav-menu-items" id="navbarSupportedContent">
                                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                                                  <li class="nav-item">
                                                             <a class="nav-link standard-nav toggle-link d-none d-lg-block nav-button" href="/francais/services" role="button">Services de Bibliothèque</a>
                                                        <a class="nav-link d-block d-lg-none" href="/francais/services">Services de Bibliothèque</a>
                                               
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link d-block d-lg-none" href="/subject-guides">Guides par Sujet</a>
                                                        <a class="nav-link standard-nav toggle-link d-none d-lg-block nav-button" href="/subject-guides" role="button">Guides par Sujet</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link d-block d-lg-none" href="/hours-locations">Heures + Localisations</a>
                                                        <a class="nav-link standard-nav toggle-link d-none d-lg-block nav-button" href="/hours-locations" role="button">Heures + Localisations</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link d-block d-lg-none" href="/francais/my-account">Mon Dossier</a>
                                                        <a class="nav-link standard-nav toggle-link d-none d-lg-block nav-button" href="/francais/my-account" role="button">Mon Dossier</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link d-block d-lg-none" href="/francais/question">Question</a>
                                                        <a class="nav-link standard-nav toggle-link d-none d-lg-block nav-button" href="/francais/question" role="button">Question</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                            <span class="nav-menu-spacer d-none"></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main-content container-fluid">
            <a name="main"></a>
          
	{{ cms:textarea content }}
      </main>
 <div id="libchat_baadd67c0b9382719dabca82069083e2e6b6d873103a32cc235ec09ad41f22a5"></div>
                  <footer>
            <div class="ack">
                <div class="main">
                    <span class="lead">Reconnaissance territoriale</span>
                    <p>L'Université de l'Alberta, ses bâtiments, ses laboratoires et ses stations de recherche sont principalement situés sur les territoires des Premières Nations du Néhiyaw (Cri), les Niitsitapi (Pieds-Noirs), les Métis, les Nakoda (Stoney), les Dénés, les Haudenosaunee (Iroquois) et les Anishinaabe (Ojibwé/Saulteaux). Ces terres font aujourd'hui parties des traités six, sept et huit et de la patrie des Métis. L'Université de l'Alberta respecte la souveraineté, les terres, l'histoire, les langues, les systèmes de transmissions de savoirs auchtochtone et la culture des peuples des Premières Nations, des Métis et des Inuit.</p>
                </div>
            </div>
            <div class="links">
                <div class="link-group">
                    <div class="link-group-header">En Bref</div>
                    <ul>
                       <li>
                            <a href="/about/collection">Notre Collection</a>
                        </li>
                        <li>
                            <a href="/about/vision">Vision, mission et priorités stratégiques</a>
                        </li>
                       <li>
                            <a href="/about/projects">Projets</a>
                        </li>
                       <li>
                            <a href="https://news.library.ualberta.ca/blog/category/francais/">Nouvelles</a>
                        </li>
                        <li>
                            <a href="https://ualberta.libcal.com/calendar/events-exhibits/?cid=-1&t=d&d=0000-00-00&cal=-1&inc=0">Événements et ateliers</a>
                        </li>
                      <li>
                            <a href="/about/employment">Carrières</a>
                        </li>
                      <li>  <a href="/harmful-language-statement">Contenu à caractère offensif</a></li>
                 
                    </ul>
                </div>
                <div class="link-group">
                    <div class="link-group-header">Visitez-nous</div>
                    <ul>
                      <li>
                            <a href="/hours-locations">Heures et localisations</a>
                        </li>
                      <li>
                            <a href="/services/book-study-spaces">Réserver une salle d'étude</a>
                        </li>
                      <li>
                            <a href="/services/accessibility-services">Accessibilité</a>
                        </li>
                        <li>
                            <a href="/about/policies/study-and-work-space">Bruit + zones d'étude</a>
                        </li>
                        <li>
                            <a href="/services/technology/printing-scanning">Impression et numérisation</a>
                        </li>
                        <li>
                            <a href="/francais/question"> Question</a>
                        </li>
                      
                    </ul>
                </div>
                <div class="link-group">
                    <div class="link-group-header">Outils + applis</div>
                    <ul>
                         <li>
                            <a href="/francais/my-account">Mon dossier</a>
                        </li>  
                      <li>
                            <a href="https://www.beartracks.ualberta.ca/">BearTracks</a>
                        </li>
                        <li>
                            <a href="https://apps.ualberta.ca/">Courriel et applis</a>
                        </li>
                      <li>
                            <a href="https://eclass.srv.ualberta.ca">eClass</a>
                        </li>
                        <li>
                            <a href="https://apps.ualberta.ca/directory">Trouver une personne</a>
                        </li>
                       <li>
                            <a href="https://guides.library.ualberta.ca/az/library-staff-directory">Notre personnel</a>
                        </li>
                     
                       <li>
                            <a href="https://www.ualberta.ca/onecard/index.html">ONECard</a>
                        </li>
                    </ul>
                </div>
                               <div class="link-group">
                    <div class="link-group-header">Administration</div>
                    <ul>
                        <li>
                            <a href="/about/people">Leadership</a>
                        </li>
                        <li>
                            <a href="/about/partners">Collaborez avec nous</a>
                        </li>
                        <li>
                            <a href="/support">Soutenir la bibliothèque</a>
                        </li>
                       <li>
                            <a href="/about/policies">Nos politiques</a>
                        </li>
                       <li>
                            <a href="/privacy">Déclaration de confidentialité</a>
                        </li>
                       <li>
                            <a href="https://www.ualberta.ca/faculty-and-staff/copyright/index.html">Droit d'auteur</a>
                        </li>
                     
                   
                    </ul>
                </div>
             
            </div>
                   
            <div class="final">
                <div class="social-links">
            
                    <a href="https://twitter.com/uofalibrary" title="UAlberta Twitter">
                        <i aria-hidden="true" class="fab fa-x-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/uofalibrary" title="UAlberta Instagram">
                        <i aria-hidden="true" class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCtrypim7fRY5dOOa1G9FW5Q" title="UAlberta YouTube">
                        <i aria-hidden="true" class="fab fa-youtube"></i>
                    </a>
                 
                </div>
                <div class="logo fr-logo">
                    <a aria-label="University of Alberta" href="https://www.ualberta.ca/index.html"></a>
             
              
                </div>
                <div class="right-group small text-end me-3">



                  Le contenu de ce site est sous <br/><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="text-white">Licence Creative Commons</a> <br/><a href="/about/policies/privacy-policy" class="text-white">Politique de confidentialité du Site Web</a>
                </div>
            </div>

        </footer>
<script>
$(function() {
    $('#navbarSupportedContent')
        .on('shown.bs.collapse', function() {
            $('#navbar-hamburger').addClass('d-none');
            $('#navSearchButton').addClass('d-none');
            $('#navbar-close').removeClass('d-none');
            document.body.classList.add('no-scroll');
        })
        .on('hidden.bs.collapse', function() {
            $('#navbar-hamburger').removeClass('d-none');
            $('#navSearchButton').removeClass('d-none');
            $('#navbar-close').addClass('d-none');
            document.body.classList.remove('no-scroll');
        });
});

/**
 * Checks and sets the root variable for scrollbar width
 */
function setScrollbarCssVariable(){
    let currentScrollbarSize = window.innerWidth - document.documentElement.clientWidth;

    if(currentScrollbarSize < 0){
        currentScrollbarSize = 0;
    }
    document.documentElement.style.setProperty('--scrollbar-width', `${currentScrollbarSize}px`);
}

window.addEventListener('load', () => {
    setScrollbarCssVariable();
});
window.addEventListener('resize', () => {
    setScrollbarCssVariable();
});
$(function() {

    $('[data-toggle-second="tooltip"]').tooltip();
    $('[data-toggle-second="tooltip"]').on('click', function () {
    	$(this).tooltip('hide')
	})

	var mode = localStorage.getItem('mode');

	 if (mode == 'dark') {
	 	$("body").addClass( "dark-mode");
	 	$( "#dark-mode-toggle" ).click(function() {
			$( "body" ).toggleClass( "dark-mode");
			localStorage.setItem('mode', 'lite');
			mode = localStorage.getItem('mode');
		});
	}else{
			$( "#dark-mode-toggle" ).click(function() {
			$( "body" ).toggleClass( "dark-mode");
			localStorage.setItem('mode', 'dark');
			mode = localStorage.getItem('mode');
		});
	}


});
</script>
[js]

// Function to fetch and display the latest blog posts - only FRANÇAIS posts
async function fetchLatestBlogPosts() {
  try {
    // Fetch data from the API endpoint excluding "FRANÇAIS" category
    const response = await fetch('https://news.library.ualberta.ca/wp-json/wp/v2/posts?categories=122&per_page=2&_embed');
    if (!response.ok) {
      throw new Error('Failed to fetch blog posts');
    }

    // Parse the JSON response
    const posts = await response.json();

    // Prepare HTML content for the latest blog posts
    let html = '';
    posts.forEach(post => {
      // Get the featured image URL if available
      const imageUrl = post._embedded['wp:featuredmedia'] ?
        post._embedded['wp:featuredmedia'][0].source_url :
        ''; // Replace with a default image URL if needed

      html += `
   <div class="col-md-6">
                            <div class="card h-100 bg-grey">
                                <div class="ratio ratio-16x9 overflow-hidden">
                                    <picture class="object-fit-cover">
<a href="${post.link}" target="_blank"> ${imageUrl ? `<img src="${imageUrl}" alt="${post.title.rendered}">` : ''}</a>
                                    </picture>
                                </div>
                                <div class="py-3 px-2">
                                    <span class="card-title h3"><a href="${post.link}" target="_blank">${post.title.rendered}</a></span>
                                    <p>${post.excerpt.rendered}</p>
                                </div>
                            </div>
                        </div>
      `;
    });

    // Display the HTML content in a container with id="latest-posts"
    document.getElementById('latest-posts').innerHTML = html;

  } catch (error) {
    console.error('Error fetching blog posts:', error);
    // Handle errors here
  }
}

// Call the function to fetch and display the latest blog posts excluding "FRANÇAIS" category
fetchLatestBlogPosts();
[css]
@import "/cms-css/1/english-main.css"
