[attributes]
---
label: Archives-html
app_layout: basic
position: 1

[content]
<div class="container">
  <div class="row pb-3">
    <div class="col-3">
<a class="navbar-brand" href="https://www.ualberta.ca">
    <img src="https://www.ualberta.ca/_assets/images/ua-logo-reversed-white.svg" class="d-inline-block align-top mt-2" alt="University of Alberta Archives Logo" width="180px">
          </a>
        </div>
     <div class="col-9">
 {{ cms:snippet 2020archives-nav }}
</div>
  </div>
</div>

  <div class="container">

  <div class="row mb-4 mt-3">
    <div class="col-12">

       <h1>
      {{ cms:text page-title}}
    </h1>
      <div class="uaa-content-card">

        <div class="row">


        <div class="col-md-12">

        {{ cms:textarea content }}

  </div>
    </div>


[js]

[css]
@import "/cms-css/1/achives-2020.css";
