[attributes]
---
label: fall2020-fr
app_layout: basic
position: 6

[content]
<div class="d-flex flex-column sticky-footer-wrapper">
	<nav class="navbar navbar-expand-lg navbar-light ual-blade">
		<div class="container flex-fill">
    	<a href="/francais/question" class="ual-pulse"><i class="fas fa-comment"></i> Clavardez avec nous</a>
      <a id="dark-mode-toggle" data-toggle-second="tooltip" data-placement="bottom" title="Dark/Light Mode" tabindex=0 aria-label="dark mode" class="ml-4"><i class="fas fa-adjust"></i></a>
      <button class="navbar-toggler ual-blade-toggler" type="button" data-toggle="collapse" data-target="#navbarBlade" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
			<div class="collapse navbar-collapse" id="navbarBlade">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
            <a href="https://www.ualberta.ca">UAlberta</a>
          </li>
  				<li class="nav-item">
            <a href="https://apps.ualberta.ca/directory">Trouver une Personne</a>
          </li>
  				<li class="nav-item">
            <a href="https://www.onecard.ualberta.ca/">ONEcard</a>
          </li>
  				<li class="nav-item">
            <a href="https://www.beartracks.ualberta.ca/">Bear Tracks</a>
          </li>
  				<li class="nav-item">
            <a href="https://www.ualberta.ca/maps?l=53.522898,-113.525575&z=15&campus=north_campus">Cartes</a>
          </li>
  				<li class="nav-item">
            <a href="https://apps.ualberta.ca/">Courriel &amp; Applis</a>
          </li>
      		<li class="nav-item">
            <a href="https://eclass.srv.ualberta.ca/portal/" class="ual-last">eClass</a>
          </li>
				</ul>
  		</div>
  	</div>
	</nav>
     <div class="ual-covid-fall">
    <div class="container">
      <div class="row">
        <div class="col-md-10 pl-0">
         <div class="ual-covid-announce">
La bibliothèque rouvre en août ! Voici ce que vous devez savoir - <a href="/francais/covid-19">Plan de réouverture de la bibliothèque</a> .</div> </div>
          <!-- <div class="row">
        <div class="col-md-3">
          <div class="ual-sep mb-2 mb-sm-0">
            <i class="fas fa-virus float-left h2 pr-2 pt-2"></i>
          <a href="/francais/covid-19">Services pendant la Covid-19</a>
          <p class="mb-0 d-none d-sm-block">Voir les annonces actuelles et les mises à jour des services.</p></div>
        </div>


        <div class="col-md-3">
              <div class="ual-sep mb-2 mb-sm-0">
                  <i class="fas fa-chair float-left h2 pr-2 pt-1"></i>

          <p class="mb-1 mt-1 d-none d-sm-block"><a href="/francais/places">Réservation de sièges</a>
            Réservez un espace de travail individuel dans la bibliothèque Cameron.
</p>
        </div></div>
        <div class="col-md-3">
              <div class="ual-sep mb-2 mb-sm-0">
                  <i class="fas fa-shopping-bag float-left h2 pr-2 pt-2"></i>
          <a href="/francais/covid-19/collecte">Collecte de livres extérieure</a>
          <p class="mb-0 d-none d-sm-block"> Procurez-vous des ressources dans les bibliothèques Rutherford ou Augustana.</p>
        </div></div>
        <div class="col-md-3">
              <div class="ual-sep">
                  <i class="fas fa-book float-left h2 pr-2 pt-2"></i>
          <a href="https://ualberta.rl.ca.talis.com/index.html">Matériel <br/>de cours</a>
          <p class="mb-0 d-none d-sm-block">Matériel de cours en ligne et listes de lecture.</p>
        </div></div>
      </div>-->
    </div>
  </div>
  </div>
<div class="ual-top">
		<nav class="navbar navbar-expand-lg navbar-light ual-nav pb-0 pt-0">
			<div class="container flex-fill pt-3 pb-3 ual-fr">
				<a class="navbar-brand mr-0" href="/francais" aria-label="UA Library Home">
       		<img src="/ual-lib-fr.svg" class="ual-logo" type="image/svg+xml" alt="UA Library Logo" width="90%" height="70px"/>
    		</a>
    		<button class="navbar-toggler ual-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
    			<ul class="navbar-nav">
      			<li class="nav-item"><a href="/francais/services">
Services de Bibliothèque</a></li>
        		<li class="nav-item"><a href="/subject-guides">Guides par Sujet</a></li>
        		<li class="nav-item"><a href="/hours-locations">Heures &amp; Localisations</a></li>
            <li class="nav-item ual-about"><a href="/about-us">En Bref<span class="d-none d-lg-block d-xl-none"> Nous</span></a></li>
        		<li class="nav-item"><a href="/francais/my-account">Mon Dossier</a></li>
        		<li class="nav-item dropdown">
          		<a href="/francais/question" class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Question</a>
        			<div class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/francais/question">Question</a>
          			<div class="dropdown-divider"></div>
        				<a class="dropdown-item" href="/francais/question">Clavardez avec Nous</a>
          			<div class="dropdown-divider"></div>
          			<a class="dropdown-item" href="https://web.library.ualberta.ca/ereference/email/index.php">Écrivez-Nous</a>
          			<div class="dropdown-divider"></div>
          			<a class="dropdown-item" href="https://web.library.ualberta.ca/appointment/index.php">Rendez-Vous sur Place</a>
          			<div class="dropdown-divider"></div>
          			<a class="dropdown-item" href="/about-us/staff/subject-librarians">Bibliothécaire Spécialiste</a>
        			</div>
      			</li>
                        <li class="nav-item d-block d-lg-none"><a href="/search">Recherche</a></li>
       <li class="nav-item pt-4 d-none d-lg-block">
              <a href="/site-search" class="fa-stack fa-1x ual-stack" id="navbarDropdown" data-toggle-second="tooltip" data-placement="bottom" title="Recherche du site" tabindex=0 aria-label="Recherche du site">
                <i class="fas fa-circle fa-stack-2x ual-circle"></i>
                <i class="fas fa-search fa-stack-1x fa-inverse"></i>
              </a>
            </li>
      		</ul>
    		</div>
  		</div>
		</nav>


	</div>
<main class="flex-fill container ual-container">
		{{ cms:textarea content }}
  </main>
  	<footer class="ual-ft pt-3">
  	<div class="container flex-fill">
  		<div class="row">
      	<div class="col-sm text-center">
        	<a href="/" aria-label="UA Library Home">
					<img src="/ual-lib-fr.svg" width="85%" height="80px" class="ual-ft-logo" type="image/svg+xml" alt="logo"/>
    			</a>
           <a href="/about-us/vision" class="btn ual-btn mt-3 text-decoration-none">Connexion, Engagement, Création.</a>
       	</div>
    		<div class="col-lg order-lg-first">
      		<div class="row ml-4 mt-2 ml-lg-0">
      		<ul class="ual-ft-nav col">
        			<li><a href="/about-us/people">Notre Personnel</a></li>
          		<li><a href="/about-us/policies">Nos Politiques</a></li>
          		<li><a href="/about-us/collection">Nos Collections</a></li>
          	  <li><a href="/about-us/partners/#collaborate">Collaborez avec nous</a></li>
      			</ul>
       			<ul class="ual-ft-nav col">
              <li><a href="/francais/services-accessibilite">Accessibilité à UAL</a></li>
        			<li><a href="/support">Soutenir la bibliothèque</a></li>
          		<li><a href="/about-us/employment">Offres d'emploi</a></li>
          		<li><a href="https://www.ualberta.ca/faculty-and-staff/copyright/index.html">Droit d'auteur</a></li>
      			</ul>
      		</div>
        </div>
       	<div class="col-lg">
					<p class="small text-justify ml-4 mt-2">La bibliothèque de l'Université de l'Alberta reconnaît qu’elle est située sur le territoire des Métis et du Traité 6. Elle respecte l'histoire, les langues et les cultures des Premières Nations, des Métis, des Inuits et de tous les Premiers Peuples du Canada, dont la présence continue d'enrichir notre communauté.</p>
				</div>
      </div>
      <div class="row">
      	<div class="col-12 mb-0">
        	 <p class="text-center small mt-3">
        	<a href="https://www.ualberta.ca" >University of Alberta</a>, Edmonton, AB, Canada T6G 2R3 | Le contenu de ce site est sous <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Licence Creative Commons</a> | <a href="/about-us/policies/privacy-policy">Politique de confidentialité du Site Web</a>
          </p>
        </div>
    	</div>
    </div>
  <div class="ual-ft-bottom"></div>
  </footer>
</div>

[js]

[css]
@import "/cms-css/1/fall2020.css"
