.web-access a {
    display: inline-block;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #eceff4;
    border: 1px solid #B2C6D1;
    color: #000;
    margin-left: 10px;
    border-radius: 5px;
}
.breadcrumbs{
  margin:-15px 0 10px -15px;
  }
.breadcrumbs a{
  font-size:20px;
 }
.bot{
	width:200px;
	height:80px;
}
.bot-back{
  background-color:#0b466b;
  border-radius:20px;
  padding:5px;
  text-align:center;
}
.bot-back h3{
   color:#fff;
   font-size:25;
  margin:5px auto;
 }
.tutorial-title{
    margin-top:40px;
}
