[attributes]
---
label: BPSC
app_layout: basic
position: 8
[content]
<div id="wrap">
      <div class="row-fluid white">
        <div class="container ga_ualberta_blade"><!-- Start Blade -->

          <div class="blade-inner">

            <div class="span3 uofa-blade hidden-phone">
             <a href="https://library.ualberta.ca"><img src="/assets/img/blade.jpg"></a>
        </div>
         <a href="http://www.ualberta.ca"><img src="/assets/img/small-logo.png" class="small-logo visible-phone"></a>
              <nav class="blade-navigation">
                <ul class="quick-links-container">
                  <li id="ql" class="dropdown">
                    <a href="#" id="ql-toggle" class="btn btn-grey btn-small hidden-desktop" data-toggle="dropdown">
                      <span class="quick-links-text">
                        Quick Links <b class="caret"></b>
                      </span>
                      <span class="icon-bar quick-links-button"></span>
                      <span class="icon-bar quick-links-button"></span>
                      <span class="icon-bar quick-links-button"></span>
                    </a>
                    <ul class="quick-links" role="menu" aria-labelledby="ql-toggle">
                      <li role="menuitem"><a href="http://webapps.srv.ualberta.ca/search/">Find a Person</a></li>
                      <li role="menuitem"><a href="http://www.onecard.ualberta.ca/">ONEcard</a></li>
                      <li role="menuitem"><a href="https://www.beartracks.ualberta.ca/">Bear Tracks</a></li>
                      <li role="menuitem"><a href="http://www.campusmap.ualberta.ca/">Maps</a></li>
                      <li role="menuitem"><a href="http://apps.ualberta.ca/">Email &amp; Apps</a></li>
                      <li role="menuitem"><a href="https://eclass.srv.ualberta.ca/portal/">eClass</a></li>
                      <li role="menuitem"><a href="http://www.library.ualberta.ca/">Libraries</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            
            </div>
          </div>
        </div>
 

{{ cms:wysiwyg content }}


    </div>
[js]

[css]
