[attributes]
---
label: home
app_layout: ''
position: 0

[content]
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Abel">
    {{ cms:asset home, type: css, as: tag }}
	<script src="https://www2.library.ualberta.ca/2015assets/2018-cms-assets/app.js"></script>
    <script src="https://www2.library.ualberta.ca/2015assets/2018-cms-assets/home.js"></script>
     {{ cms:asset home, type: js, as: tag }}
<link rel="shortcut icon" type="image/x-icon" href="https://www2.library.ualberta.ca/2015assets/2018-cms-assets/favicon.ico">
    <title>University of Alberta Libraries</title>
  </head>
  <body>
     <body class="home">
    <div id="top"></div>
    <!-- Start Header and Navigation -->
    <div class="navbar-fixed-top" id="banner-back">
      <div class="container">
        <div class="col-sm-2 hidden-xs"><a href="/francais" class="version" data-no-turbolink="true"><span>version</span> française</a></div>
        <div class="collapse navbar-collapse hidden-xs"> <!-- UofA Blade -->
          <ul class="nav navbar-nav">
             <li><a href="https://ualberta.ca">UAlberta Home</a></li>
             <li><a href="https://myualberta.ualberta.ca/home">My UAlberta</a></li>
            <li><a href="http://webapps.srv.ualberta.ca/search">Find a Person</a></li>
            <li><a href="http://www.onecard.ualberta.ca">ONEcard</a></li>
            <li><a href="https://www.beartracks.ualberta.ca">Bear Tracks</a></li>
            <li><a href="http://www.campusmap.ualberta.ca">Maps</a></li>
            <li><a href="http://apps.ualberta.ca">Email &amp; Apps</a></li>
            <li class="last"><a href="https://eclass.srv.ualberta.ca/portal">eClass</a></li>
          </ul>
        </div> <!-- End UofA Blade -->
        <div class="row header">
          <div class="container">
            <div class="col-xs-8 col-md-6 col-sm-5">
              <h1><a data-scroll href="#top"><img src="https://www2.library.ualberta.ca/2015assets/2018-cms-assets/ualib-logo.png" class="ualogo" alt ="University of Alberta Libraries"></a></h1>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" title="toggle navigation">
              <h2>menu</h2><!-- Mobile menu button -->
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button><!-- End mobile menu button -->
            <div class="col-xs-12 col-md-6 col-sm-7 ask-front">
              <ul class="ask">
                <li><a href="/ask-us" class="ask-main" data-no-turbolink="true">Ask Us</a></li>
                  <li><a href="/ask-us" class="hidden-xs" data-no-turbolink="true">Chat</a></li>
                <li><a href="https://web.library.ualberta.ca/ereference/email" class="hidden-xs" data-no-turbolink="true">Email</a></li>
                <li><a href="/about-us" class="hidden-xs" data-no-turbolink="true">About Us</a></li> 
                <li><a href="/site-search" class="hidden-xs" data-no-turbolink="true">Site Search</a></li> 
                <li><a href="https://hours.library.ualberta.ca" class="last hidden-xs" data-no-turbolink="true">Hours &amp; Locations</a></li> 
                
              </ul>
            </div>
            <div id="navbar" class="collapse col-xs-10"><!-- Mobile menu -->
              <ul>
                <li class="active"><a data-scroll href="#top"  data-toggle="collapse" data-target="#navbar">Search &amp; Home</a></li>
                <li><a data-scroll href="#hours-anch" data-toggle="collapse"  data-target="#navbar">Hours and Locations</a></li>
                 <li><a class="page-scroll" href="#news" data-toggle="collapse" data-target="#navbar">News / Workshops</a></li>
                <li><a class="page-scroll" href="#services" data-toggle="collapse" data-target="#navbar">Services</a></li>
                <li><a class="page-scroll" href="#subjects" data-toggle="collapse" data-target="#navbar">Subject Guides</a></li>
                <li><a class="page-scroll" href="#account" data-toggle="collapse" data-target="#navbar">My Account</a></li>
                <li><a href="/francais" >Version Française</a></li>
                <li><a href="http://www.ualberta.ca">University of Alberta Home</a></li>
              </ul>
            </div><!-- End mobile menu -->
          </div>
        </div>
        <div id="main-nav" class="hidden-xs"><!-- Non-mobile Navigation -->
          <div class="col-sm-2 col-xs-2" id="home-nav">
            <div>
              <h3><a data-scroll href="#top"><span></span>Search &amp; Home</a></h3>
            </div>
          </div>
          <div class="col-sm-15 col-xs-15" id="news-nav">
            <div>
              <h3><a class="page-scroll" href="#news"><span></span>News <em>/ Workshops</em></a></h3>
            
            </div>
          </div>
          <div class="col-sm-15 col-xs-15" id="services-nav">
            <div>
              <h3 class="top-padded"><a class="page-scroll" href="#services"><span></span>Services</a></h3>
             
            </div>
          </div>
          <div class="col-sm-15 col-xs-15" id="subjects-nav">
            <div>
              <h3><a class="page-scroll" href="#subjects"><span></span>Subject Guides</a></h3>
           
            </div>
          </div>
          <div class="col-sm-15 col-xs-15" id="research-nav">
            <div>
              <h3><a class="page-scroll" href="#research"><span></span>Research Support</a></h3>
             
            </div>
          </div>
          <div class="col-sm-15 col-xs-15" id="account-nav">
            <div>
              <h3 class="top-padded"><a class="page-scroll" href="#account"><span></span>My Account</a></h3>
           
            </div>
          </div>
        </div><!-- End non-mobile navigation -->
      </div>
    </div>
      
{{ cms:textarea content }}      
      
      <div class="push"></div>
  </div>

  </div>
  </div>
  <div class="footer" id="footer">
      <div class="container">
        <ul class="foot-nav">
          <li><a href="/site-search" data-no-turbolink="true">Search This Site</a></li>
          <li><a href="/about-us/policies" data-no-turbolink="true">Policies</a></li>
          <li><a href="/about-us/employment" data-no-turbolink="true">Employment</a></li>
          <li><a href="/about-us/people" data-no-turbolink="true">Our People</a></li>
          <li><a href="/about-us/collections" data-no-turbolink="true">Our Collection</a></li>
          <li><a href="/about-us/donations" data-no-turbolink="true">Gifts and Donations</a></li>
          <li><a href="http://www.copyright.ualberta.ca" data-no-turbolink="true">Copyright</a></li> 
        </ul>
          
         <p class="copyright hidden-xs"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><%= image_tag "cc.png", :class => "cc", :alt => "Copyright Statement" %></a>
        This work is subject to a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a> -- For exceptions, see the <a href="/about-us/policies/re-use" data-no-turbolink="true">Library Re-use and Attribution Statement.</a> </p>
      <p>
          <a href="/" data-no-turbolink="true">University of Alberta Libraries</a> - <a href="http://www.ualberta.ca">University of Alberta</a>, Edmonton, AB, Canada T6G 2R3 | <a href="/about-us/policies/privacy-policy" data-no-turbolink="true">Web Site Privacy Policy</a></p>
        </div>
      </div>
      </div>


  </body>
</html>
[js]

[css]
@media screen{
body{margin:0;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
strong{font-weight:bold;}
h1{font-size:2em;margin:0.67em 0;}
img{border:0;}
button,input,select{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button,select{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
@media print{
*,*:before,*:after{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:1.428571429;color:#333333;background-color:#fff;}
input,button,select{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:hover,a:focus{color:#23527c;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
h1,h2,h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h2 .small{font-weight:normal;line-height:1;color:#777777;}
h1,h2,h3{margin-top:20px;margin-bottom:10px;}
h2 .small{font-size:65%;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
p{margin:0 0 10px;}
.small{font-size:85%;}
ul{margin-top:0;margin-bottom:10px;}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
.container:before,.container:after{content:" ";display:table;}
.container:after{clear:both;}
@media (min-width: 768px){
.container{width:750px;}
}
@media (min-width: 992px){
.container{width:970px;}
}
@media (min-width: 1200px){
.container{width:1170px;}
}
 .smaller-icon{font-size:70%;}
.row{margin-left:-15px;margin-right:-15px;}
.row:before,.row:after{content:" ";display:table;}
.row:after{clear:both;}
.col-xs-1,.col-md-1,.col-xs-2,.col-sm-2,.col-md-2,.col-sm-3,.col-md-3,.col-lg-3,.col-sm-4,.col-md-4,.col-sm-5,.col-md-5,.col-md-6,.col-sm-7,.col-md-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-10,.col-md-10,.col-xs-11,.col-md-11,.col-xs-12,.col-sm-12,.col-md-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px;}
.col-xs-1,.col-xs-2,.col-xs-8,.col-xs-10,.col-xs-11,.col-xs-12{float:left;}
.col-xs-1{width:8.3333333333%;}
.col-xs-2{width:16.6666666667%;}
.col-xs-8{width:66.6666666667%;}
.col-xs-10{width:83.3333333333%;}
.col-xs-11{width:91.6666666667%;}
.col-xs-12{width:100%;}
@media (min-width: 768px){
.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-7,.col-sm-8,.col-sm-12{float:left;}
.col-sm-2{width:16.6666666667%;}
.col-sm-3{width:25%;}
.col-sm-4{width:33.3333333333%;}
.col-sm-5{width:41.6666666667%;}
.col-sm-7{width:58.3333333333%;}
.col-sm-8{width:66.6666666667%;}
.col-sm-12{width:100%;}
}
@media (min-width: 992px){
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-10,.col-md-11,.col-md-12{float:left;}
.col-md-1{width:8.3333333333%;}
.col-md-2{width:16.6666666667%;}
.col-md-3{width:25%;}
.col-md-4{width:33.3333333333%;}
.col-md-5{width:41.6666666667%;}
.col-md-6{width:50%;}
.col-md-7{width:58.3333333333%;}
.col-md-8{width:66.6666666667%;}
.col-md-10{width:83.3333333333%;}
.col-md-11{width:91.6666666667%;}
.col-md-12{width:100%;}
}
@media (min-width: 1200px){
.col-lg-3,.col-lg-8{float:left;}
.col-lg-3{width:25%;}
.col-lg-8{width:66.6666666667%;}
}
label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:bold;}
.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.428571429;color:#555555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;-o-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);}
.form-control::-moz-placeholder{color:#999;opacity:1;}
.form-control:-ms-input-placeholder{color:#999;}
.form-control::-webkit-input-placeholder{color:#999;}
.form-control::-ms-expand{border:0;background-color:transparent;}
.form-group{margin-bottom:15px;}
@media (min-width: 768px){
.form-inline .form-group{display:inline-block;margin-bottom:0;vertical-align:middle;}
.form-inline .form-control{display:inline-block;width:auto;vertical-align:middle;}
}
.btn{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.428571429;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn:focus,.btn:active:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:hover,.btn:focus{color:#333;text-decoration:none;}
.btn:active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);}
.collapse{display:none;}
.nav{margin-bottom:0;padding-left:0;list-style:none;}
.nav:before,.nav:after{content:" ";display:table;}
.nav:after{clear:both;}
.nav>li{position:relative;display:block;}
.nav>li>a{position:relative;display:block;padding:10px 15px;}
.nav>li>a:hover,.nav>li>a:focus{text-decoration:none;background-color:#eeeeee;}
.navbar-collapse{overflow-x:visible;padding-right:15px;padding-left:15px;border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);-webkit-overflow-scrolling:touch;}
.navbar-collapse:before,.navbar-collapse:after{content:" ";display:table;}
.navbar-collapse:after{clear:both;}
@media (min-width: 768px){
.navbar-collapse{width:auto;border-top:0;box-shadow:none;}
.navbar-collapse.collapse{display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important;}
.navbar-fixed-top .navbar-collapse{padding-left:0;padding-right:0;}
}
.navbar-fixed-top .navbar-collapse{max-height:340px;}
@media (max-device-width: 480px) and (orientation: landscape){
.navbar-fixed-top .navbar-collapse{max-height:200px;}
}
.container>.navbar-collapse{margin-right:-15px;margin-left:-15px;}
@media (min-width: 768px){
.container>.navbar-collapse{margin-right:0;margin-left:0;}
}
.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030;}
@media (min-width: 768px){
.navbar-fixed-top{border-radius:0;}
}
.navbar-fixed-top{top:0;border-width:0 0 1px;}
.navbar-toggle{position:relative;float:right;margin-right:15px;padding:9px 10px;margin-top:8px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;}
.navbar-toggle:focus{outline:0;}
.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px;}
.navbar-toggle .icon-bar+.icon-bar{margin-top:4px;}
@media (min-width: 768px){
.navbar-toggle{display:none;}
}
.navbar-nav{margin:7.5px -15px;}
.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:20px;}
@media (min-width: 768px){
.navbar-nav{float:left;margin:0;}
.navbar-nav>li{float:left;}
.navbar-nav>li>a{padding-top:15px;padding-bottom:15px;}
}
.navbar-form{margin-left:-15px;margin-right:-15px;padding:10px 15px;border-top:1px solid transparent;border-bottom:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);margin-top:8px;margin-bottom:8px;}
@media (min-width: 768px){
.navbar-form .form-group{display:inline-block;margin-bottom:0;vertical-align:middle;}
.navbar-form .form-control{display:inline-block;width:auto;vertical-align:middle;}
}
@media (max-width: 767px){
.navbar-form .form-group{margin-bottom:5px;}
.navbar-form .form-group:last-child{margin-bottom:0;}
}
@media (min-width: 768px){
.navbar-form{width:auto;border:0;margin-left:0;margin-right:0;padding-top:0;padding-bottom:0;-webkit-box-shadow:none;box-shadow:none;}
}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.visible-xs-inline-block{display:none!important;}
@media (max-width: 767px){
.visible-xs-inline-block{display:inline-block!important;}
}
@media (max-width: 767px){
.hidden-xs{display:none!important;}
}
@media (min-width: 768px) and (max-width: 991px){
.hidden-sm{display:none!important;}
}
@media (min-width: 992px) and (max-width: 1199px){
.hidden-md{display:none!important;}
}
.col-xs-15,.col-sm-15{position:relative;min-height:1px;padding-right:10px;padding-left:10px;}
.col-xs-15{width:20%;float:left;}
body{font-family:"Abel", sans-serif;width:100%;height:100%;}
a{color:#2c733b;text-decoration:none;}
a:active,a:visited,a:hover{text-decoration:none;}
.header{background:none;background-color:#1b4a26;padding-bottom:0px;}
a.anchor{display:block;position:relative;top:-270px;visibility:hidden;}
.ualogo{margin:10px 0px 15px 0px;}
.home .ualogo{margin:23px 0px 10px 0px;}
.home h1{margin:0px;font-size:1px;font-color:#2c733b;}
h2{padding-bottom:10px;font-size:36px;}
.skip{position:absolute;top:-1000px;left:-1000px;height:1px;width:1px;text-align:left;overflow:hidden;}
a.skip:active,a.skip:focus,a.skip:hover{left:0;top:0;width:auto;height:auto;overflow:visible;}
.navbar-nav{float:right;padding:5px 0px;}
.version{padding-top:5px;display:block;}
.version span{display:none;}
.home .navbar-nav{float:right;padding:4px 0px 4px 0px;}
.navbar-nav>li{border-right:1px solid #efefef;}
.navbar-nav>li.last{border:none;}
.navbar-nav>li>a{font-size:15px;padding:5px 10px;color:#999;}
.navbar-collapse{padding-right:0;}
.navbar-toggle{padding:0px 7px 6px 7px;text-align:center;margin-right:0px;}
.navbar-toggle h2{font-size:12px;font-weight:bold;margin:0;padding:3px 0;}
.navbar-toggle .icon-bar{width:28px;}
.navbar-toggle span{background-color:#1b4724;}
.navbar-toggle,.navbar-toggle:active,.navbar-toggle:focus{background-color:#eceef3;}
.navbar-toggle:hover{background-color:#fff;}
#navbar li{list-style:none;}
#navbar li>a{color:#fff;display:block;padding:5px 10px;margin-bottom:2px;background-color:#eceef3;color:#000;font-size:17px;}
#navbar li>a:hover{background-color:#fff;}
.footer{background:url(https://library.ualberta.ca/assets/footer-bg-6e09316d7210772777aaa406555ba2a2073de53eed9f1283b626cd564fad5358.jpg) #1b4724 repeat-x;padding-bottom:5px;}
.footer p{color:#fff;font-size:80%;margin:20px;}
.footer p a{color:#ecf4e5;background-color:black;background-color:rgba(0,0,0,0.2);padding:0px 3px;}
ul.foot-nav{float:right;margin:25px -10px 0px -10px;}
.foot-nav li{float:left;list-style:none;}
.foot-nav li a{display:block;padding:0px 5px;color:#ecf4e5;font-size:14px;}
.foot-nav li a:hover{background-color:black;background-color:rgba(0,0,0,0.4);text-decoration:none;}
.footer p a:hover{background-color:transparent;text-decoration:none;}
.footer p.copyright{margin-bottom:5px;margin-top:15px;text-align:right;}
h2{font-size:24px;margin-top:10px;margin-bottom:10px;}
h2 span.small{font-size:60%;}
.float-left{float:left;margin-right:15px;}
.up-arrow{display:block; color:#efefef;font-size:150%;margin:20px 20px 0px 0px;}
  .dark{color:#3333;}
#top{background-color:#fff;border:none;}
.navbar-nav{float:right;padding-bottom:8px;}
#navbar li{list-style:none;}
#navbar li>a{color:#fff;display:block;padding:5px 10px;margin-bottom:2px;background-color:#eceef3;color:#000;font-size:17px;}
#navbar li>a:hover{background-color:#fff;}
.nav>li>a{font-size:11px;padding:5px 10px;border-right:1px solid #eee;}
.nav>li.last>a{border-right:none;}
.navbar-collapse{padding-right:0;}
.navbar-toggle{padding:0px 7px 6px 7px;text-align:center;}
.navbar-toggle h2{font-size:12px;font-weight:bold;margin:0;padding:3px 0;}
.navbar-toggle .icon-bar{width:28px;}
.navbar-toggle span{background-color:#1b4724;}
.navbar-toggle,.navbar-toggle:active,.navbar-toggle:focus{background-color:#eceef3;}
.navbar-toggle:hover{background-color:#fff;}
.ualogo{width:100%;min-width:220px;max-width:300px;margin-top:-30px;}
.navbar-form{padding:0px 15px;margin-top:0px;margin-bottom:5px;}
ul.ask{margin-bottom:0;background-color:black;background-color:rgba(0,0,0,0.4);margin-left:0px;padding:0;}
.ask li{float:left;list-style:none;}
.ask li a{display:block;padding:0px 10px;text-transform:lowercase;color:#fff;border-right:1px solid #fff;}
.ask li a:hover{color:#FBED32;text-decoration:none;}
.ask li a.last,#last{border-right:none;}
.ask li a.ask-main{color:#FBED32;font-size:16px;letter-spacing:1px;margin-top:-27px;border-right:none;margin-left:5px;background:url(https://library.ualberta.ca/assets/ask-icon-687cae0048c20775742f27f7b12a7c488bc0ec3f1d87a2b270679cdc150ba0be.png) no-repeat left bottom;-webkit-background-size:24%;background-size:24%;padding-left:20px;}
.ask li a.ask-main:hover{color:#fff;background-position:left 4px;}
#main-nav{margin:15px 0;list-style:none;}
#main-nav>div>div{background-color:#fff;padding:10px 5px;cursor:pointer;margin-bottom:15px;height:120px;}
#main-nav>div>div:hover{background-color:#fffef2;}
#main-nav>div>div:before{content:"";position:absolute;width:91%;height:3px;bottom:15px;left:10px;background-color:#05522D;visibility:hidden;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s;}
#main-nav>div>div:hover:before{visibility:visible;-webkit-transform:scaleX(1);transform:scaleX(1);}
#main-nav h3{margin:0;margin-bottom:5px;padding-left:60px;padding-right:10px;min-height:70px;}
#main-nav h3.top-padded{padding-top:15px;}
#main-nav #home-nav{padding-left:0;}
#main-nav #account-nav{padding-right:0;}
#main-nav #services-nav h3{background:url(https://library.ualberta.ca/assets/services-icon-35545974f1373ec0cbf2a89102a981635f1903f7d8bfc70d54bcabd02065c0d5.png) no-repeat 10px 10px;}
#main-nav #subjects-nav h3{background:url(https://library.ualberta.ca/assets/subjects-icon-7711369b0344f6765598edb1484309e4e878907e4eec6ae565009103940b5e9e.png) no-repeat 10px 10px;}
#main-nav #research-nav h3{background:url(https://library.ualberta.ca/assets/research-icon-bb3e6036b675f682ff0e1e651138136e3cb7312c9771eaec779bdab780f9cc04.png) no-repeat 10px 10px;}
#main-nav #news-nav h3{background:url(https://library.ualberta.ca/assets/news-icon-5a550610fdd90c2672f2832a99fe99137b68a47e8b8a52d3b3c32c2eea42e4b7.png) no-repeat 10px 10px;}
#main-nav #news-nav h3 em{font-style:normal;}
#main-nav #account-nav h3{background:url(https://library.ualberta.ca/assets/account-icon-7e48f17a0ffaabab06c090f90b8420cd863406bdc331a4d3d68a76f0fa0d660a.png) no-repeat 10px 10px;}
#main-nav{transition:all 1s;-moz-transition:all 1s;-webkit-transition:all 1s;-o-transition:all 1s;}
#main-nav a{text-decoration:none;}
#main-nav a:hover{text-decoration:none;}
#main-nav a span{position:absolute;width:100%;height:100%;top:0;left:0;z-index:1;}
.pane{padding:15px 0 20px 0;}
#home-nav{display:none;}
.search-box{background-color:#eceff4;margin-bottom:20px;padding:0px 0px 0px 0px;}
#searchclear{position:absolute;right:5px;top:0;bottom:0;height:14px;margin:auto;font-size:14px;cursor:pointer;color:#ccc;}
.front-box{background-color:#eceff4;padding:10px 20px;}
.quick-links{margin-top:20px;}
.quick-links a{background-size:40px 38px;display:block;background-repeat:no-repeat;padding:13px 5px 13px 60px;background-color:#4C6F84;color:#fff;font-size:18px;margin-bottom:5px;}
.quick-links a:hover{color:#e7eff5;background-color:#38566c;}
.search-row div{margin:0;padding:0;}
.form-inline .form-control{width:100%;font-size:13px;padding:8px 10px;height:auto;}
#services{background:#404545;color:#fff;}
.today{font-size:13px;text-transform:capitalize;}
.search-header{color:#38566c;padding-top:10px;padding-bottom:0;}
.hours-header{padding-bottom:0;margin-bottom:0;}
.hours-header a{background-color:#4C6F84;padding:5px;color:#efefef;display:block;text-align:center;}
.hours-header span,.search-header span{font-size:70%;}
.hours-header a:hover{color:#e7eff5;background-color:#38566c;}
#research{background-color:#C7D28A;}
.services-box{background-color:#333;padding:10px;height:320px;}
.services-box>h3{margin-top:0;margin-bottom:5px;font-size:28px;text-shadow:2px 2px 1px rgba(0,0,0,0.55);text-align:center;background-color:#CA7700;padding:10px;border-top-left-radius:5px;border-top-right-radius:5px;}
.services-box ul{list-style:none;padding:0;}
.services-box ul>li>a{padding:4px 8px;display:block;background-color:#efefef;color:#333;margin-bottom:2px;font-size:18px;}
.services-box ul>li>a:hover{background-color:#fff;color:#000;}
#subjects{font-size:110%;background-color:#452325;}
.subjects{background-repeat:no-repeat;background-position:97% 50%;background-size:50px;border:solid 2px #452325;border-width:0 4px 4px 0;background-color:#340d0d;height:120px;padding:0 5px;}
.subjects:hover{background-color:#3b0d0d;}
#subjects h2{color:#fff;}
#subjects ul{margin:0;list-style:none;padding:0;}
#subjects li{border-top:#fff 2px solid;}
#subjects li a{display:block;padding:5px;}
#subjects .subject-title h3{margin-bottom:0;margin-top:10px;min-height:60px;padding-bottom:0;line-height:30px;letter-spacing:1px;padding:10px;font-size:22px;color:#fff;}
#subjects .subject-title div{text-align:center;margin-top:0px;}
#subjects .subject-title div a{color:#000;background-color:#fff;font-size:15px;padding:2px 8px;display:inline-block;margin-top:4px;}
#subjects .subject-title a:hover{text-decoration:none;}
#subjects .subject-title div a:hover{background-color:#f7e9e9;}
.browse-type{background-image:url(https://library.ualberta.ca/assets/research-back-246c979a49a3d81264759d0a8e2258d4cfb4c2c5ed1ae404833bbd6cd6d1eee0.jpg);padding:10px;}
#ag{background-image:url(https://library.ualberta.ca/assets/subject-images/ag-8f25e669bc47ae8d1d64c364f21fedc9d604a10fbf706c947c2ebc09a15c27b2.png);}
#arts{background-image:url(https://library.ualberta.ca/assets/subject-images/arts-445e8b589c4cbe4dc302cd13246b7c41f30ebc36294665d6c4d50a94a7e1be74.png);}
#aug{background-image:url(https://library.ualberta.ca/assets/subject-images/aug-be7ab419e36785dd226ea3a089aea6347d7e9d4ad1c95f986ec333f6f9eb437f.png);background-size:45px;}
#business{background-image:url(https://library.ualberta.ca/assets/subject-images/bus-e8f69555a44219506c8186bc4505670f6eebcc2192c2a87292d3b05a6d0637f5.png);background-size:45px;}
#ed{background-image:url(https://library.ualberta.ca/assets/subject-images/ed-75f8037583090ebf689e6b3154f3bc49652d60b88c5c7bdc96869ab4ec04d803.png);}
#eng{background-image:url(https://library.ualberta.ca/assets/subject-images/eng-e28150916b302fc16f62887aef2d1e78e941e6dc29cbaca9d07a51e6c79a2995.png);}
#health{background-image:url(https://library.ualberta.ca/assets/subject-images/health-3417a77d424f1b4a2917756effb9bf19523c44e1df1f321d2473de28646068ac.png);}
#int{background-image:url(https://library.ualberta.ca/assets/subject-images/inter-7a33a915181d32d9725563b4b7060cea52ecab6ec4f4c59e6d2141b76bdf2dc0.png);background-size:40px;}
#law{background-image:url(https://library.ualberta.ca/assets/subject-images/law-9a058839643ef42dd8d1d56bc37eded00382987afdb83ba3e46c2bff04b6ac08.png);}
#native{background-image:url(https://library.ualberta.ca/assets/subject-images/native-1d5667ce34889c5fb85441ca23e4ec356a5e6a7efbd3bef5d30dd4ae0fe773b8.png);background-size:40px;}
#physed{background-image:url(https://library.ualberta.ca/assets/subject-images/physed-cd888dab2852555d426a7eee8f7bf1f64dcf5cbdba86695989c7f34840993d0a.png);}
#science{background-image:url(https://library.ualberta.ca/assets/subject-images/science-bac0a4718ae854b9fd08b55c17f66d106cbc3511149ae622ae468ae1e09bdcfe.png);background-size:40px;}
#account{min-height:730px;}
.btn-help{background:url(https://library.ualberta.ca/assets/question-5dc954eb19b58fb85b4c447e1849e1c868a7e543a05a8fc4db625ee70912ace7.png) #4C6F84 no-repeat left 7px;padding:4px 8px 4px 20px;font-size:13px;margin-left:5px;color:#efefef;line-height:16px;}
.btn-help:hover{background-color:#38566c;color:#fff;}
.btn-green{background-color:#1b460c;color:#efefef;padding:6px 15px;font-size:20px;margin-left:0px;margin-top:0;}
.btn-green-small{background:url(https://library.ualberta.ca/assets/adv-146e48c492d971a484b4068590370dff2c378b24ab138f408d1cfddac0da1ac0.png) #4C6F84 no-repeat center bottom;color:#efefef;font-size:11px;padding:3px 5px 22px 3px;margin-left:5px;}
.btn-green-small:focus,.btn-green-small:hover{background-color:#4C6F84;color:#fff;}
.btn-green-small:hover{background-color:#38566c;}
.btn-green:hover,.btn-green:focus{background-color:#2a5d18;color:#fff;}
.ccid-login{color:#fff;border:#557185;padding:6px 20px;font-size:24px;margin:20px 0;background-color:#4C6F84;}
.ccid-login:hover,.ccid-login:active,.ccid-login:focus{background-color:#7e9db2;color:#efefef;}
.barcode{font-style:italic;}
#news{background-color:#4C6F84;color:#fff;}
.news-square{padding-bottom:80%;margin-right:20px;position:relative;overflow:hidden;margin-bottom:15px;}
.news-square{color:#4C6F84;}
.news-square .slide,.news-square>div{position:absolute;height:100%;width:96%;background-color:#a5b8c4;}
.news-square .details{background-color:#fff;background-color:rgba(255,255,255,0.9);z-index:500;padding:50px;overflow:hidden;width:100%;height:100%;display:none;}
.news-stories h2{color:#efefef;padding:5px 15px;}
.news-stories ul{list-style:none;margin:0;padding:0;}
.news-stories li{list-style:none;background-color:#fff;margin-bottom:1px;}
.news-stories li a{font-size:18px;color:#333;display:block;padding:5px 15px 5px 15px;width:96%;line-height:28px;}
.news-stories .itemDate{display:block;font-size:12px;padding:0px 15px 10px 15px;}
.news-stories li:hover{background-color:#e8eff3;}
.news-stories>a{text-align:center;display:block;padding:10px 0;color:#fff;font-size:14px;letter-spacing:1px;}
.news-stories>a:hover{background-color:#99aebb;}
.search-query-form{margin-top:0px;}
.profile-links{list-style:none;padding:0;margin:0;}
.details h2{padding-bottom:0px;}
.profile-links>li>a{background-color:#333;color:#fff;padding:5px 10px;display:block;text-decoration:none;text-align:center;}
.profile-links>li>a:hover{background-color:#777;}
#tweets{padding:5px 10px;background-image:url(https://library.ualberta.ca/assets/twitter_normal-bbf18f0da79b43708d917c146817233c6ca65310d7f356dfcb991fc739c3e450.png);background-repeat:no-repeat;background-position:center;}
.lib-pick{margin:5px 0;}
.library-picker{font-size:18px;text-transform:uppercase;display:block;background-color:#fff;padding-bottom:5px;}
.library-picker h3{margin:0px 0px 7px 0px;font-size:24px;text-transform:capitalize;background-color:#eceff4;padding-bottom:5px;}
.padded-bottom{padding-bottom:30px;}
.not-your-library{margin:5px 0 0 0;font-size:16px;text-align:center;}
.not-your-library span{font-size:80%;}
ul.foot-nav{float:right;margin-top:25px;}
.foot-nav li{float:left;list-style:none;}
.foot-nav li a{display:block;padding:0px 15px;color:#ecf4e5;font-size:14px;}
#footer{background:url(https://library.ualberta.ca/assets/footer-bg-6e09316d7210772777aaa406555ba2a2073de53eed9f1283b626cd564fad5358.jpg) #1b4724 repeat-x;padding-bottom:5px;}
#footer p{float:right;color:#fff;font-size:80%;}
#footer p a{color:#ecf4e5;background-color:black;background-color:rgba(0,0,0,0.2);padding:0px 3px;}
.foot-nav li a:hover{background-color:black;background-color:rgba(0,0,0,0.4);text-decoration:none;}
#footer p a:hover{background-color:transparent;text-decoration:none;}
#footer p.copyright{margin-bottom:5px;margin-top:15px;}
#research{background-color:#000;}
#research h2{color:#fff;}
.grid{margin-top:0px;}
.boxes h3{font-size:28px;}
.boxes p{font-size:18px;margin-bottom:15px;}
.boxes>.first-row{padding-bottom:30%;background-color:#fff;border:solid 5px #000;border-width:10px 5px 5px 5px;}
.boxes>.second-row{padding-bottom:30%;background-color:#fff;border:solid 5px #000;border-width:5px 5px 10px 5px;}
.boxes>div>div{position:absolute;top:0;left:0;padding:10px 30px 10px 30px;text-align:center;}
.boxes>div:hover{background-color:#f8fafe;}
.boxes>div.others>div{width:100%;height:50%;}
.boxes>div.others>div h3{margin-top:0;}
.boxes>div.others:hover{background-color:#fff;}
.boxes>div.others>div.measure{top:50%;}
.boxes>div.others>div.pub-support{border-bottom:10px solid #000;}
.boxes>div.others>div.measure:hover,.boxes>div.others>div.pub-support:hover{background-color:#f8fafe;}
.boxes>div.others h3 span{font-size:30px;}
.boxes .open-access{background-image:url(https://library.ualberta.ca/assets/crystal-77e52a199f9491964c6029dcc5895f611dc25c28be112a2389a991d7007de256.jpg);background-repeat:no-repeat;background-position:bottom center;}
.boxes .rds{background-image:url(https://library.ualberta.ca/assets/rds-28f8eec0ad2fdd4a8869274cb8c2ae71ca98a09da842059bad6bef3e6658790c.jpg);background-repeat:no-repeat;}
.boxes .era{background-image:url(https://library.ualberta.ca/assets/era-6c17b564f84f55df129280fdaa54f42fbcf57fc572ff2890f0c9c82be310973e.jpg);background-repeat:no-repeat;}
.boxes .era p{padding-top:155px;}
.boxes .era p em{font-weight:bold;font-size:28px;margin-bottom:15px;}
.boxes .rds h3{padding-top:140px;}
.boxes .rds p{padding-right:30px;padding-left:30px;}
.boxes .tool-link{background-color:#333;display:inline-block;color:#fff;padding:4px 8px;font-size:18px;margin:auto;}
.boxes .tool-link span{font-size:15px;}
.boxes .tool-link:hover{background-color:#000;}
.news-square>.workshops{background-color:rgba(255,255,255,0.2);padding:2px 15px;}
.s-lc-ea-h3{display:none;}
.news-square>.workshops h3{color:#fff;margin-top:10px;font-size:18px;}
.news-square>.workshops h3 a{display:inline-block;font-size:13px;padding:3px 10px;background-color:rgba(255,255,255,0.7);float:right;}
.news-square>.workshops h3 span{font-size:10px;}
.news-square>.workshops ul{list-style:none;margin:0;padding:0;}
.news-square>.workshops ul>li{background-color:rgba(255,255,255,0.7);padding:2px 15px;margin-bottom:5px;}
.news-square>.workshops ul>li:hover,.news-square>.workshops h3 a:hover{background-color:white;}
.news-square>.workshops ul>li>a{font-size:15px;}
@media (min-width: 492px){
h2{font-size:30px;}
.navbar-form{padding:10px 15px;margin-top:8px;margin-bottom:5px;}
.ualogo{margin-top:10px;}
ul.ask{margin-left:190px;}
.main-search span{display:none;}
.header{background:url(https://library.ualberta.ca/assets/banner-b4cccc84241beeed89dbf4ac0255a959cb329118504a9bb56fa923ef6728bb82.png) #1b4724 no-repeat center;background-size:100% 100%;padding-bottom:3px;}
.pane{padding:20px 20px 30px 20px;}
.btn-green{margin-left:5px;}
.search-row{margin-left:-15px;margin-right:-15px;}
.form-inline .form-control{font-size:15px;}
#banner-back{background:url(https://library.ualberta.ca/assets/banner-bg-ab5c3205198ab660be8396a5d1617711fae23b2244a5618c6cf6cdf6fbda1d7c.jpg) repeat-x center 38px #fff;}
.col-sm-15{width:20%;float:left;}
#main-nav>div>div{height:40px;}
#main-nav h3{font-size:16px;}
.news-square{padding-bottom:39%;}
}
@media (min-width: 768px){
.top-margin{margin-top:10px;}
#top{padding-top:10px;}
.pane{padding:30px 0;}
.extra-top-margin{margin-top:20px;}
.header{background-color:transparent;}
ul.ask{float:right;margin-top:25px;padding:15px 5px 10px 5px;margin-left:0;}
.ask li a.ask-main{font-size:22px;margin-top:-6px;padding-left:33px;-webkit-background-size:27px;background-size:27px;}
.subjects{background-size:70px;background-position:20px 20px;height:180px;}
#ag{background-position:0px 10px;}
#subjects .subject-title div{position:absolute;top:120px;text-align:center;width:287px;}
#subjects .subject-title div a{font-size:18px;padding:8px 15px;display:inline;}
#subjects .subject-title div{position:absolute;top:130px;margin-left:7px;}
#subjects .subject-title h3{min-height:20px;padding:0px 5px 5px 85px;}
#aug{background-position:10px 30px;-webkit-background-size:70px;background-size:70px;}
#business{background-position:20px 20px;-webkit-background-size:60px;background-size:60px;}
#int{background-position:20px 20px;-webkit-background-size:55px;background-size:55px;}
#native{background-position:30px 20px;-webkit-background-size:55px;background-size:55px;}
#science{-webkit-background-size:55px;background-size:55px;}
#account{font-size:130%;}
.news-square{padding-bottom:33%;margin-right:0px;}
}
@media (min-width: 992px){
.nav>li>a{font-size:15px;}
.version{padding-top:10px;}
.version span{display:inline;}
#subjects .subject-title h3{line-height:35px;padding:10px 4px 10px 90px;}
#footer{margin-top:270px;}
h2{font-size:26px;padding-bottom:20px;}
.quick-links{margin-top:0px;}
#main-nav h3{font-size:19px;}
#main-nav>div>div{height:75px;}
#footer{margin-top:0px;}
}
@media (min-width: 1200px){
h2{font-size:30px;}
#main-nav h3{font-size:24px;}
.form-inline .form-control{font-size:18px;}
}
@media (min-width: 768px){
.foot-nav li a{padding:0px 15px;font-size:19px;}
.footer p{float:right;margin:0px;}
.footer p.copyright{text-align:left;}
}
}
/*! CSS Used from: https://library.ualberta.ca/assets/ualib-home-5804d82936df758c8cca2d8b391b2c6b69bd06be135b22dff750283452dba9c1.css ; media=screen */
@media screen{
#top{padding-top:70px;}
@media (min-width: 492px){
#top{padding-top:70px;}
}
@media (min-width: 768px){
#top{padding-top:190px;}
}
@media (min-width: 992px){
#top{padding-top:245px;}
}
}
/*! CSS Used from: Embedded */
.search-box{padding:10px 20px;margin-bottom:15px;}
.other-searches{border-right:none;border-bottom:5px solid #fff;background-color:#eceff4;padding:10px;}
.other-searches:hover{color:#000;background-color:#D9DFE8;}
.other-searches .main-word{margin-left:0;font-size:30px;}
.search-header{padding:0;}
.other-searches#last{border-right:none;}
.library-picker{padding-bottom:10px;font-size:22px;}
.hours-box{padding:26px 25px 36px 25px;}
.classic-link{margin-left:3px;margin-top:-10px;}
.not-your-library{margin-left:25px;text-align:left;}
.hours-select{width:350px;margin-left:20px;}
.quick-links a{font-size:20px;display:inline-block;padding:8px 9px;background-color:#007C41;width:100%;}
.quick-links a span{margin-right:4px;}
#tweets{height:100%;}
.services-box{background-color:#333;padding:10px;height:auto!important;min-height:330px;}
.services-box>h3{margin-top:0;margin-bottom:5px;font-size:28px;text-shadow:2px 2px 1px rgba(0, 0, 0, 0.55);text-align:center;background-color:#CA7700;padding:10px;border-top-left-radius:5px;border-top-right-radius:5px;}
.services-box ul{list-style:none;padding:0;}
.services-box ul>li>a{padding:4px 8px;display:block;background-color:#efefef;color:#333;margin-bottom:2px;font-size:18px;}
.services-box ul>li>a:hover{background-color:#fff;color:#000;}
.s-lc-ea-h3{display:none;}
.news-stories{overflow:auto;}
.padded-bottom{padding-bottom:15px;}
.news-square>.workshops{background-color:rgba(255, 255, 255, 0.2);padding:2px 15px;overflow-y:auto;}
.s-lc-ea-h3{display:none;}
.news-square>.workshops h3{color:#fff;margin-top:10px;font-size:18px;}
.news-square>.workshops h3 a{display:inline-block;font-size:13px;padding:3px 10px;background-color:rgba(255, 255, 255, 1);float:right;}
.news-square>.workshops h3 span{font-size:10px;}
.news-square>.workshops ul{list-style:none;margin:0;padding:0;}
.news-square>.workshops ul>li{background-color:rgba(255, 255, 255, 1);padding:2px 15px;margin-bottom:5px;}
.news-square>.workshops ul>li:hover,.news-square>.workshops h3 a:hover{background-color:rgba(255, 255, 255, 0.8);}
.news-square>.workshops ul>li>a{font-size:20px;}
.boxes .di{background-image:url(https://www2.library.ualberta.ca/2015assets/di.jpg);background-repeat:no-repeat;background-position:bottom center;}
.boxes .bpsc{background-image:url(https://www2.library.ualberta.ca/2015assets/bpsc.jpg);background-position:center;}
.boxes > div.others > div{width:100%;height:34%;}
.boxes > div.others > div a{display:block;color:#000;}
.boxes > div.others > div a:hover{color:#444;}
.boxes > div.others > div.book{top:70%;height:28%;}
.boxes > div.others > div.book:hover{background-color:#f8fafe;}
.boxes > div.others > div.pub-support{border-bottom:10px solid #000;}
.boxes > div.others > div h3{margin-top:10px;}
.boxes > div.others > div.book h3{margin-top:0;}
.boxes > div.others > div.measure{top:34%;border-bottom:10px solid #000;}
.boxes > div.others > div .sm{font-size:18px;}
.socials{text-align:center;margin-top:5px;}
iframe{background-color:#fff;width:100%;}
.s-lc-ea-h3{display:none;}
.navbar-nav>li>a{color:#000;}
.ask li a.ask-main{margin-top:-15px;margin-bottom:5px;}
.tips{display:block;border-radius:5px;background-color:#fff;padding:5px;font-size:18px;text-align:center;}
.tips:hover{background-color:#B6B8B6;}
@media (min-width: 768px){
.quick-links a{width:auto;}
}
@media (min-width: 992px){
.ask li a.ask-main{margin-top:-8px;margin-bottom:0;}
.other-searches .main-word{margin-left:30px;}
.other-searches{border-right:15px solid #fff;border-bottom:none;}
}


