[attributes]
---
label: secondary
app_layout: ''
position: 1

[content]
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->
<title>
     University of Alberta Libraries

</title>
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Abel">
    {{ cms:asset secondary, type: css, as: tag }}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62486800-2', 'auto');
  ga('send', 'pageview');

</script>


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="wrapper">
<!-- Start Header and Navigation -->
    <a href="#main-container" class="skip">Skip to content</a>
    <div id="top"><a name="top"></a></div>
    <div class="container-fluid hidden-xs"> <!-- UofA Blade -->
      <div class="container">
        <div class="row">
          <ul class="nav navbar-nav">
             <li><a href="https://ualberta.ca">UAlberta Home</a></li>
            <li><a href="https://myualberta.ualberta.ca/home">My UAlberta</a></li>
            <li><a href="https://directory.ualberta.ca/">Find a Person</a></li>
            <li><a href="https://www.onecard.ualberta.ca/">ONEcard</a></li>
            <li><a href="https://www.beartracks.ualberta.ca">Bear Tracks</a></li>
            <li><a href="https://www.ualberta.ca/maps">Maps</a></li>
            <li><a href="https://apps.ualberta.ca">Email &amp; Apps</a></li>
            <li class="last"><a href="https://eclass.srv.ualberta.ca/portal">eClass</a></li>
          </ul>
        </div> 
      </div>
    </div><!-- End UofA Blade -->
    <div class="container-fluid banner-container"><!-- Logo, banner, ask-us and mobile navigation -->
      <div class="container banner">
        <div class="row">
          <div class="col-sm-6 col-xs-7">
         
             <a href="/"><img src="https://www2.library.ualberta.ca/2015assets/2018-cms-assets/ualib-logo.png" class="ualogo", alt="University of Alberta Libraries" /></a>
            
          </div>
          <div class="col-sm-6 col-xs-3 ask-sm">
            <a href="/ask-us" class="ask-main" data-no-turbolink="true" target="_blank">Ask Us</a>
          </div>
          <div class="col-xs-2 visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <h2>menu</h2><!-- Mobile menu button -->
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button><!-- End mobile menu button -->
          </div>
        </div>
      </div>        
      <div id="navbar" class="col-xs-10 collapse" style="height: 0px;"><!-- Mobile menu -->
        <ul>
          <li class="active"><a href="/" data-no-turbolink="true">Search &amp; Home</a></li>
          <li><a href="https://hours.library.ualberta.ca">Hours and Locations</a></li>
            <li><a href="/#main-news" data-no-turbolink="true">News / Workshops</a></li>
          <li><a href="/#main-services" data-no-turbolink="true">Services</a></li>
          <li><a href="/#main-subjects" data-no-turbolink="true">Subject Guides</a></li>
          <li><a href="/#main-account" data-no-turbolink="true" >My Account</a></li>
             <li><a href="/francais" >Version Française</a></li>
          <li><a href="http://www.ualberta.ca">University of Alberta Home</a></li>
        </ul>
      </div><!-- End mobile menu -->
    </div>
  <div class="container-fluid nav-container hidden-xs"><!-- non-mobile navigation -->
      <div class="container">
        <div class="col-sm-12">
          <div class="row">
            <ul class="lib-nav">
              <li id="home-nav" style="display:block" class="col-sm-2">
                <a href="/" data-no-turbolink="true">Search &amp; Home</a>
              </li>
              <li id="news-nav" class="col-sm-2">
                <a href="/#main-news" data-no-turbolink="true"><span></span>News / Workshops</a>
              </li>
              <li id="services-nav" class="col-sm-2">
                <a href="/#main-services" data-no-turbolink="true"><span></span>Services</a>
              </li>
              <li id="subjects-nav" class="col-sm-2">
                <a href="/#main-subjects" data-no-turbolink="true"><span></span>Subject Guides</a>
              </li>
              <li id="research-nav" class="col-sm-2">
                <a href="/#main-research" data-no-turbolink="true"><span></span>Research Support</a>
              </li>
              <li id="account-nav" class="col-sm-2">
                <a href="/#main-account" data-no-turbolink="true" ><span></span>My Account</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- End non-mobile navigation -->


  <div id="main-container" class="container">
    <div class="row cms" data-turbolinks="false">
     {{ cms:textarea content }}   
    </div>
  </div>
      <div class="push"></div>
  </div>
  <div class="footer" id="footer">
      <div class="container">
        <ul class="foot-nav">
          <li><a href="/site-search" data-no-turbolink="true">Search This Site</a></li>
          <li><a href="https://web.library.ualberta.ca/feedback/" data-no-turbolink="true">Feedback</a></li>
          <li><a href="/about-us/policies" data-no-turbolink="true">Policies</a></li>
          <li><a href="/about-us/employment" data-no-turbolink="true">Employment</a></li>
          <li><a href="/about-us/people" data-no-turbolink="true">Our People</a></li>
          <li><a href="/about-us/collections" data-no-turbolink="true">Our Collection</a></li>
          <li><a href="/support" data-no-turbolink="true">Support the Library</a></li>
          <li><a href="http://www.copyright.ualberta.ca" data-no-turbolink="true">Copyright</a></li> 
        </ul>
          
         <p class="copyright hidden-xs"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"> </a>
        This work is subject to a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a> -- For exceptions, see the <a href="/about-us/policies/re-use" data-no-turbolink="true">Library Re-use and Attribution Statement.</a>  <a href="/about-us/policies/privacy-policy" data-no-turbolink="true">Web Site Privacy Policy</a></p>
      <p>
          <a href="/" data-no-turbolink="true">University of Alberta Libraries</a> - <a href="http://www.ualberta.ca">University of Alberta</a>, Edmonton, AB, Canada T6G 2R3 - We are located on Treaty 6 / Métis Territory.<br/></p>
        </div>
      </div>
  </body>
</html>

[js]

[css]
@media screen{
body{margin:0;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
strong{font-weight:bold;}
img{border:0;}
button,input{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
@media print{
*,*:before,*:after{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:1.428571429;color:#333333;background-color:#fff;}
input,button{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:hover,a:focus{color:#23527c;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
h2,h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h2,h3{margin-top:20px;margin-bottom:10px;}
h2{font-size:30px;}
h3{font-size:24px;}
p{margin:0 0 10px;}
ul{margin-top:0;margin-bottom:10px;}
ul ul{margin-bottom:0;}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
.container:before,.container:after{content:" ";display:table;}
.container:after{clear:both;}
@media (min-width: 768px){
.container{width:750px;}
}
@media (min-width: 992px){
.container{width:970px;}
}
@media (min-width: 1200px){
.container{width:1170px;}
}
.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
.container-fluid:before,.container-fluid:after{content:" ";display:table;}
.container-fluid:after{clear:both;}
.row{margin-left:-15px;margin-right:-15px;}
.row:before,.row:after{content:" ";display:table;}
.row:after{clear:both;}
.col-xs-2,.col-sm-2,.col-xs-3,.col-sm-6,.col-xs-7,.col-xs-10,.col-sm-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px;}
.col-xs-2,.col-xs-3,.col-xs-7,.col-xs-10{float:left;}
.col-xs-2{width:16.6666666667%;}
.col-xs-3{width:25%;}
.col-xs-7{width:58.3333333333%;}
.col-xs-10{width:83.3333333333%;}
@media (min-width: 768px){
.col-sm-2,.col-sm-6,.col-sm-12{float:left;}
.col-sm-2{width:16.6666666667%;}
.col-sm-6{width:50%;}
.col-sm-12{width:100%;}
}
.collapse{display:none;}
.nav{margin-bottom:0;padding-left:0;list-style:none;}
.nav:before,.nav:after{content:" ";display:table;}
.nav:after{clear:both;}
.nav>li{position:relative;display:block;}
.nav>li>a{position:relative;display:block;padding:10px 15px;}
.nav>li>a:hover,.nav>li>a:focus{text-decoration:none;background-color:#eeeeee;}
.navbar-toggle{position:relative;float:right;margin-right:15px;padding:9px 10px;margin-top:8px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;}
.navbar-toggle:focus{outline:0;}
.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px;}
.navbar-toggle .icon-bar+.icon-bar{margin-top:4px;}
@media (min-width: 768px){
.navbar-toggle{display:none;}
}
.navbar-nav{margin:7.5px -15px;}
.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:20px;}
@media (min-width: 768px){
.navbar-nav{float:left;margin:0;}
.navbar-nav>li{float:left;}
.navbar-nav>li>a{padding-top:15px;padding-bottom:15px;}
}
.visible-xs{display:none!important;}
@media (max-width: 767px){
.visible-xs{display:block!important;}
}
@media (max-width: 767px){
.hidden-xs{display:none!important;}
}
body{font-family:"Abel", sans-serif;width:100%;height:100%;}
a{color:#2c733b;text-decoration:none;}
a:active,a:visited,a:hover{text-decoration:none;}
.ualogo{margin:10px 0px 15px 0px;}
h2{padding-bottom:10px;font-size:36px;}
.skip{position:absolute;top:-1000px;left:-1000px;height:1px;width:1px;text-align:left;overflow:hidden;}
a.skip:active,a.skip:focus,a.skip:hover{left:0;top:0;width:auto;height:auto;overflow:visible;}
.navbar-nav{float:right;padding:5px 0px;}
.navbar-nav>li{border-right:1px solid #efefef;}
.navbar-nav>li.last{border:none;}
.navbar-nav>li>a{font-size:15px;padding:5px 10px;color:#999;}
.navbar-toggle{padding:0px 7px 6px 7px;text-align:center;margin-right:0px;}
.navbar-toggle h2{font-size:12px;font-weight:bold;margin:0;padding:3px 0;}
.navbar-toggle .icon-bar{width:28px;}
.navbar-toggle span{background-color:#1b4724;}
.navbar-toggle,.navbar-toggle:active,.navbar-toggle:focus{background-color:#eceef3;}
.navbar-toggle:hover{background-color:#fff;}
#navbar li{list-style:none;}
#navbar li>a{color:#fff;display:block;padding:5px 10px;margin-bottom:2px;background-color:#eceef3;color:#000;font-size:17px;}
#navbar li>a:hover{background-color:#fff;}
.banner-container{background:url(https://library.ualberta.ca/assets/banner-bg2-70581a4037d72bcdc8aae355c23d9e57e32a4ecd2bef2c04c5e1fcbfb40c21c1.jpg) repeat-x bottom #1b4a26;}
.nav-container{background-color:#eceff4;padding:5px 0px 0px 0px;}
.lib-nav{margin:0px;margin-left:-0px;padding:0px;}
.lib-nav li{list-style:none;float:left;padding-right:0px;}
.lib-nav li a{display:block;padding:7px 5px 7px 22px;font-size:15px;-webkit-background-size:20px;background-size:16px;background-repeat:no-repeat;background-position:4px 9px;border:1px solid #eceff4;border-width:0px 0px 5px 0px;line-height:20px;background-color:#fff;}
.lib-nav li#home-nav a{background-image:url(https://library.ualberta.ca/assets/home-icon-498d024f15e6b0927b5083d60c573f2911f06f6071ba296f53c216a140a692fd.png);}
.lib-nav li#services-nav a{background-image:url(https://library.ualberta.ca/assets/services-icon-35545974f1373ec0cbf2a89102a981635f1903f7d8bfc70d54bcabd02065c0d5.png);}
.lib-nav li#subjects-nav a{background-image:url(https://library.ualberta.ca/assets/subjects-icon-7711369b0344f6765598edb1484309e4e878907e4eec6ae565009103940b5e9e.png);}
.lib-nav li#research-nav a{background-image:url(https://library.ualberta.ca/assets/research-icon-bb3e6036b675f682ff0e1e651138136e3cb7312c9771eaec779bdab780f9cc04.png);}
.lib-nav li#news-nav a{background-image:url(https://library.ualberta.ca/assets/news-icon-5a550610fdd90c2672f2832a99fe99137b68a47e8b8a52d3b3c32c2eea42e4b7.png);}
.lib-nav li#account-nav a{background-image:url(https://library.ualberta.ca/assets/account-icon-7e48f17a0ffaabab06c090f90b8420cd863406bdc331a4d3d68a76f0fa0d660a.png);}
.lib-nav li a:hover{background-color:#fefdf6;border-color:#999;}
.ask-sm{margin:13px 0px 0px 0px;}
.ask-sm a.ask-main{display:block;padding:5px;text-align:center;text-transform:lowercase;color:#FBED32;font-size:15px;letter-spacing:1px;margin:0px 0px 0px 5px;background-color:black;background-color:rgba(0,0,0,0.4);}
.ask-sm a.ask-main:hover{color:#fff;background-position:3px 3px;}
.footer{background:url(https://library.ualberta.ca/assets/footer-bg-6e09316d7210772777aaa406555ba2a2073de53eed9f1283b626cd564fad5358.jpg) #1b4724 repeat-x;padding-bottom:5px;}
.footer p{color:#fff;font-size:80%;margin:20px;}
.footer p a{color:#ecf4e5;background-color:black;background-color:rgba(0,0,0,0.2);padding:0px 3px;}
ul.foot-nav{float:right;margin:25px -10px 0px -10px;}
.foot-nav li{float:left;list-style:none;}
.foot-nav li a{display:block;padding:0px 5px;color:#ecf4e5;font-size:14px;}
.foot-nav li a:hover{background-color:black;background-color:rgba(0,0,0,0.4);text-decoration:none;}
.footer p a:hover{background-color:transparent;text-decoration:none;}
.footer p.copyright{margin-bottom:5px;margin-top:15px;text-align:right;}
h2{font-size:24px;margin-top:10px;margin-bottom:10px;}
#top{background-color:#fff;border:none;}
.navbar-nav{float:right;padding-bottom:8px;}
#navbar li{list-style:none;}
#navbar li>a{color:#fff;display:block;padding:5px 10px;margin-bottom:2px;background-color:#eceef3;color:#000;font-size:17px;}
#navbar li>a:hover{background-color:#fff;}
.nav>li>a{font-size:11px;padding:5px 10px;border-right:1px solid #eee;}
.nav>li.last>a{border-right:none;}
.navbar-toggle{padding:0px 7px 6px 7px;text-align:center;}
.navbar-toggle h2{font-size:12px;font-weight:bold;margin:0;padding:3px 0;}
.navbar-toggle .icon-bar{width:28px;}
.navbar-toggle span{background-color:#1b4724;}
.navbar-toggle,.navbar-toggle:active,.navbar-toggle:focus{background-color:#eceef3;}
.navbar-toggle:hover{background-color:#fff;}
.ualogo{width:100%;min-width:220px;max-width:300px;margin-top:-30px;}
#home-nav{display:none;}
ul.foot-nav{float:right;margin-top:25px;}
.foot-nav li{float:left;list-style:none;}
.foot-nav li a{display:block;padding:0px 15px;color:#ecf4e5;font-size:14px;}
#footer{background:url(https://library.ualberta.ca/assets/footer-bg-6e09316d7210772777aaa406555ba2a2073de53eed9f1283b626cd564fad5358.jpg) #1b4724 repeat-x;padding-bottom:5px;}
#footer p{float:right;color:#fff;font-size:80%;}
#footer p a{color:#ecf4e5;background-color:black;background-color:rgba(0,0,0,0.2);padding:0px 3px;}
.foot-nav li a:hover{background-color:black;background-color:rgba(0,0,0,0.4);text-decoration:none;}
#footer p a:hover{background-color:transparent;text-decoration:none;}
#footer p.copyright{margin-bottom:5px;margin-top:15px;}
@media (min-width: 492px){
h2{font-size:30px;}
.ualogo{margin-top:10px;}
}
@media (min-width: 768px){
#top{padding-top:10px;}
}
@media (min-width: 992px){
.nav>li>a{font-size:15px;}
#footer{margin-top:270px;}
h2{font-size:26px;padding-bottom:20px;}
#footer{margin-top:0px;}
}
@media (min-width: 1200px){
h2{font-size:30px;}
}
@media (min-width: 768px){
.ask-sm a.ask-main{display:block;padding:3px 10px 3px 40px;text-transform:lowercase;color:#FBED32;font-size:18px;letter-spacing:1px;margin:5px 0px 0px 5px;background:url(https://library.ualberta.ca/assets/ask-icon-687cae0048c20775742f27f7b12a7c488bc0ec3f1d87a2b270679cdc150ba0be.png) no-repeat left bottom;-webkit-background-size:24px;background-size:24px;float:right;background-color:black;background-color:rgba(0,0,0,0.4);background-position:10px -24px;text-align:left;}
.ask-sm a.ask-main:hover{color:#fff;background-position:10px 5px;}
.foot-nav li a{padding:0px 15px;font-size:19px;}
.footer p{float:right;margin:0px;}
.footer p.copyright{text-align:left;}
}
@media (min-width: 992px){
.lib-nav li a{font-size:16px;padding:7px 10px 7px 30px;background-position:10px 9px;}
}
@media (min-width: 1200px){
.lib-nav li a{font-size:18px;}
}
}
/*! CSS Used from: https://library.ualberta.ca/assets/sticky-footer-5c6c6e1a976c9645b03caf2bdc1177547f1f4f4d17fbd7249274bff6c98d1a8c.css ; media=screen */
@media screen{
*{margin:0;}
body{height:100%;}
.wrapper{min-height:100%;height:auto!important;height:100%;margin:0 auto -180px;}
.footer,.push{height:180px;}
}
/*! CSS Used from: https://library.ualberta.ca/cms-css/1/secondary-pages.css ; media=screen */
@media screen{
.cms{margin:40px 40px 100px 40px;}
.cms a{font-weight:bold;}
.cms h2{padding-bottom:10px;font-size:38px;font-weight:bold;}
.cms h3{font-size:29px;font-weight:bold;}
.cms h2,.cms h3{font-family:'Abel', sans-serif;}
.cms p,.cms li{font-size:16px;line-height:26px;font-family:'Open Sans', Arial, sans-serif;}
}

