<div class="cms">
<h1>Journals hosted by UALibraries on OJS</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>URL</th>
    <th></th>
  </tr>
 
  <% @hosted_journals.each do |hosted_journal| %>
    <tr>
      <td><%= link_to hosted_journal.title, hosted_journal_path(hosted_journal) %></td>
      <td><%= hosted_journal.url %></td>
      
    </tr>
  <% end %>
</table>
</div>