[attributes]
---
label: English Main
app_layout: '2020'
position: 4

[content]
<div class="d-flex flex-column sticky-footer-wrapper">

	<nav class="navbar navbar-expand-lg navbar-light ual-blade">
		<div class="container flex-fill">
 <a href="https://ualberta.ca"><img src="https://www.ualberta.ca/_assets/images/ua-logo-green.svg" width="183px" class="py-2 pl-2 pl-sm-0"></a>
      <button class="navbar-toggler ual-blade-toggler" type="button" data-toggle="collapse" data-target="#navbarBlade" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
			<div class="collapse navbar-collapse" id="navbarBlade">
				<ul class="navbar-nav ml-auto pt-4">
				
  				<li class="nav-item">
            <a href="https://apps.ualberta.ca/directory">Find a Person</a>
          </li>
  				<li class="nav-item">
            <a href="https://www.onecard.ualberta.ca/">ONEcard</a>
          </li>
  				<li class="nav-item">
            <a href="https://www.beartracks.ualberta.ca/">Bear Tracks</a>
          </li>
  				<li class="nav-item">
            <a href="https://www.ualberta.ca/maps?l=53.522898,-113.525575&z=15&campus=north_campus">Maps</a>
          </li>
  				<li class="nav-item">
            <a href="https://apps.ualberta.ca/">Email &amp; Apps</a>
          </li>
      		<li class="nav-item">
            <a href="https://eclass.srv.ualberta.ca/portal/" class="ual-last">eClass</a>
          </li>
				</ul>
  		</div>
  	</div>
	</nav>
  
  
	<div class="ual-top">
 
		<nav class="navbar navbar-expand-lg navbar-light ual-nav pb-0 pt-0">
     
			<div class="container flex-fill pt-3 pb-3">
				<a class="navbar-brand mr-0 pb-0" href="/" aria-label="UA Library Home">LIBRARY</a>  
       	    	
      <a id="dark-mode-toggle" data-toggle-second="tooltip" data-placement="bottom" title="Dark/Light Mode" tabindex=0 aria-label="dark mode" class="pr-4"><i class="fas fa-adjust"></i></a>		
    	
    		<button class="navbar-toggler ual-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
				<div class="collapse navbar-collapse pl-4" id="navbarSupportedContent">
    			<ul class="navbar-nav">
      			<li class="nav-item"><a href="/services">Library Services</a></li>
        		<li class="nav-item"><a href="/subject-guides">Subject Guides</a></li>
        		<li class="nav-item"><a href="/hours-locations">Hours &amp; Locations</a></li>
            <li class="nav-item ual-about"><a href="/about-us">About <span class="d-lg-none d-xl-block">the Library</span><span class="d-none d-lg-block d-xl-none"> Us</span></a></li>
        		<li class="nav-item"><a href="/my-account">My Account</a></li>
        		<li class="nav-item dropdown">
          		<a href="ask-us" class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ask <br/> Us</a>
        			<div class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                	<a class="dropdown-item" href="/ask-us">Ask Us</a>
          			<div class="dropdown-divider"></div>
        				<a class="dropdown-item" href="/ask-us">Chat with Us</a>
          			<div class="dropdown-divider"></div>
          			<a class="dropdown-item" href="https://web.library.ualberta.ca/ereference/email/index.php">Email Us</a>
                <div class="dropdown-divider"></div>
        				<a class="dropdown-item" href="/ask-us">Phone Us</a>
          			<div class="dropdown-divider"></div>
          			<a class="dropdown-item" href="https://web.library.ualberta.ca/appointment/index.php">Book a Consultation</a>
          			<div class="dropdown-divider"></div>
          			<a class="dropdown-item" href="/about-us/staff/subject-librarians">Find your Subject Librarian</a>
        			</div>
      			</li>
            <li class="nav-item d-block d-lg-none"><a href="/search">Search</a></li>
       <li class="nav-item pt-4 d-none d-lg-block">
              <a href="/site-search" class="fa-stack fa-1x ual-stack" id="navbarDropdown" data-toggle-second="tooltip" data-placement="bottom" title="Site Search" tabindex=0 aria-label="Site Search">
                <i class="fas fa-circle fa-stack-2x ual-circle"></i>
                <i class="fas fa-search fa-stack-1x fa-inverse"></i>
              </a>
            </li>
      		</ul>
    		</div>
  		</div>
		</nav>
	</div>
<main class="flex-fill container ual-container">
		{{ cms:textarea content }}
  </main>
	<footer class="ual-ft pt-3">
  	<div class="container flex-fill">
  		<div class="row">
    		<div class="col-lg order-lg-first">
   
      		<div class="row ml-4 mt-2 ml-lg-0">
      			<ul class="ual-ft-nav col">
        			<li><a href="/about-us/people">Our People</a></li>
          		<li><a href="/about-us/policies">Our Policies</a></li>
          		<li><a href="/about-us/collection">Our Collection</a></li>  
              <li><a href="/about-us/partners/#collaborate">Open to Collaborate</a></li> 
      			</ul>
       			<ul class="ual-ft-nav col">
              <li><a href="/services/accessibility-services">Accessiblity at UAL</a></li> 
        			<li><a href="/support">Support Us</a></li>
          		<li><a href="/about-us/employment">Employment</a></li>
          		<li><a href="https://www.ualberta.ca/faculty-and-staff/copyright/index.html">Copyright Office</a></li> 
      			</ul>
            <p><a href="/harmful-language-statement" class="ual-state">Statement on Harmful Language in Records and Descriptions</a></p>
      		</div>
        </div>
       	<div class="col-lg">
            
					<p class="lead text-justify mt-2"><span class="d-inline ual-yellow">Territorial Acknowledgement</span> the University of Alberta Library acknowledges that we are located on Treaty 6 and M&eacute;tis territory, and we respect the histories, languages, and cultures of First Nations, M&eacute;tis, Inuit, and all First Peoples of Canada, whose presence continues to enrich our vibrant community.</p>
				</div>
      </div>
      <hr class="border-white"/>
      <div class="row">
      	<div class="col-12 mt-1 mb-2">
        	 <p class="text-center small"> 
          	<a href="https://www.ualberta.ca" >University of Alberta</a>, Edmonton, AB, Canada T6G 2R3 | This site is licensed under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons License</a> | <a href="/about-us/policies/privacy-policy">Website Privacy Policy</a>
          </p>   
        </div>
    	</div>
    </div>
  </footer>
</div>
[js]

[css]
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body{
font-family: 'Roboto', sans-serif;
}
.col-md-6 {
    flex: 0 0 49.8%;
}
.ual-container .card-header h3, .ual-container .card-header h4{
	color:#fff;
}
.ual-pale-background{
	background-color:#fcfcf0;
}
.ual-container .btn-primary, .btn-iu{
    color: #fff;
    background-color: #007c41;
  text-decoration:none;
}
.ual-container .btn-primary:hover, .btn-iu:hover{
    background-color: #284e36;
      color: #fff;
} 
.ual-breadcrumbs{
  margin-top:-15px;
  font-size:0.75em;
}
.ual-btn-lg{
	font-size:1.5em;
}
.red{
  color:red;
  font-weight:bold;
  font-size:1.1em;
}
.ual-partners img{
  width:75px;
  float:left;
  margin-right:1rem;
  border:2px solid #000;
  }
.ual-covid-announce{
	background-color: #ffdb05;
  padding:0.5rem 1rem;
  border:1px solid #333;
  border-radius:5px;
}
.ual-highlight{
  	background-color: #FCF28B;
}
.ual-container .ual-covid-announce a{
  color:#284e36;
}
.ual-container .ual-covid-announce a:hover{
  color:#007c41;
}
.borrowing-table td, .borrowing-table th{
  padding:10px;
  border:1px solid #999;
}
.ual-well, .sidebar{
 border:1px solid #284e36;
  background-color:#fcfcf0;
  border-radius:5px;
  padding:1rem;
  height: fit-content;
}
.ual-well-green{
   background-color:#F1FED7;
}
.dark-mode table{
 	background-color:#333;
  color:#fff;
}
.dark-mode .ual-container .covid-box p.sm, .dark-mode .ual-container .ual-covid-announce p{
	color:#000;
}
.dark-mode .ual-banner h1{
background-color:rgba(0,0,0, 0.8);
}
.dark-mode .ual-container .ual-btn, .dark-mode .ual-nav{
	color:#fff;
}
.dark-mode .ual-container h3, .dark-mode .ual-container h5, .dark-mode .ual-container h6, .dark-mode .street-address, .dark-mode .ual-container .card-header a {
    color: #fcf9e2;
} 
.dark-mode .ual-container .card{
background-color:#333;
}
.dark-mode .ual-container .ual-pale-background p, .dark-mode .ual-container .ual-pale-background h3, .dark-mode .ual-container .sidebar p, .dark-mode .ual-container .sidebar li, .dark-mode .ual-container .sidebar h2, .dark-mode .ual-container .sidebar h3, .dark-mode .ual-container .sidebar h4,.dark-mode .ual-container .ual-well p, .dark-mode .ual-container .ual-well li, .dark-mode .ual-container .ual-well h3, .dark-mode .ual-container .ual-well h4, .dark-mode .ual-container .ual-pale-background p, .dark-mode .ual-container .ual-pale-background li, .dark-mode .ual-container .ual-pale-background h2, .dark-mode .ual-container .ual-pale-background h3, .dark-mode .ual-container .ual-pale-background h4, .dark-mode .ual-container .card h4, .dark-mode .ual-container .stat-list li{
  color:#333;
}
.dark-mode .card-header {
    background: #390B01;
}
.dark-mode hr{
 background-color:#fcf9e2;
}
.dark-mode .ual-container .card-header a.ual-btn-tips{
color:#333;
}
.dark-mode .card hr, .dark-mode .borrowing-table th, .dark-mode footer {
 background-color:#00492c;
}



.ual-pale-background{
 height: fit-content;
}
.tut-links a{
font-weight:bold;
}
.staff{
margin-top:0;
}
table.staff thead, table.staff  .hidden, table.staff .visible-xs{
	display:none;
}
table.staff h2{
font-size:1.2em;
}
.a-profile{
    font-size: 0.9em;
}
.a-profile h2{
font-size:2em;
}
.a-profile h3{
font-size:1.4em;
}
.a-profile h4{
font-size:1.2em;
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
.ual-banner{
   height:18rem;
   padding-top:7rem;
   background-size:cover;
}
.ual-banner h1{
   padding:1rem 0;
  border-width:0;
   background-color:rgba(255,255,255,0.85);
   text-align:center;
  font-size:2em;
  color:#333;
}

.staff td.ual-email{
  font-size:0.75em;
  font-weight:normal;
}

.ual-container .card-header h3, .ual-container .card-header h4{
	color:#fff;
}
.ual-pale-background{
	background-color:#fcfcf0;
}
.ual-container .btn-primary{
    color: #fff;
    background-color: #007c41;
  text-decoration:none;
}
.ual-container .btn-primary:hover{
    background-color: #284e36;
      color: #fff;
} 
.ual-breadcrumbs{
  margin-top:-15px;
  font-size:0.75em;
}
.ual-btn-lg{
	font-size:1.5em;
}
.ual-uaa{
      background-image: url(https://sites.library.ualberta.ca/wp-content/uploads/2021/01/rcrf-int-e1611597239864.jpg);
  	background-size:cover;
}
.red{
  color:red;
  font-weight:bold;
  font-size:1.1em;
}
.ual-partners img{
  width:75px;
  float:left;
  margin-right:1rem;
  border:2px solid #000;
  }
.ual-covid-announce{
	background-color: #ffdb05;
  padding:0.5rem 1rem;
  border:1px solid #333;
  border-radius:5px;
}
.ual-highlight{
  	background-color: #FCF28B;
}
.borrowing-table td, .borrowing-table th{
  padding:10px;
  border:1px solid #999;
}
.dark-mode .ual-container .covid-box p.sm, .dark-mode .ual-container .ual-covid-announce p{
	color:#000;
}
.dark-mode .ual-banner h1{
background-color:rgba(0,0,0, 0.8);
}
.dark-mode .ual-container .ual-btn, .dark-mode .ual-nav .navbar-brand{
	color:#fff;
}
.dark-mode .ual-container h3, .dark-mode .ual-container h5, .dark-mode .ual-container h6, .dark-mode .street-address, .dark-mode .ual-container .card-header a {
    color: #fcf9e2;
} 
.dark-mode .ual-container .card{
background-color:#333;
}
.dark-mode .ual-container .ual-pale-background p, .dark-mode .ual-container .ual-pale-background h3, .dark-mode .ual-container .sidebar p, .dark-mode .ual-container .sidebar li, .dark-mode .ual-container .sidebar h2, .dark-mode .ual-container .sidebar h3, .dark-mode .ual-container .sidebar h4,.dark-mode .ual-container .ual-well p, .dark-mode .ual-container .ual-well li, .dark-mode .ual-container .ual-well h3, .dark-mode .ual-container .ual-well h4, .dark-mode .ual-container .ual-pale-background p, .dark-mode .ual-container .ual-pale-background li, .dark-mode .ual-container .ual-pale-background h2, .dark-mode .ual-container .ual-pale-background h3, .dark-mode .ual-container .ual-pale-background h4, .dark-mode .ual-container .card h4, .dark-mode .ual-container .stat-list li{
  color:#fff;
}
.dark-mode .card-header {
    background: #284e36;
}
.dark-mode hr{
 background-color:#fcf9e2;
}
.dark-mode .ual-container .card-header a.ual-btn-tips{
color:#333;
}
.dark-mode .card hr, .dark-mode .borrowing-table th {
 background-color:#00492c;
}
.ual-covid-fall{
	background-color:#fcfccc;
	padding:1.5rem 0;
  border-top:1px solid #284e36;
}
.ual-covid-fall i{
color:#7ab800;
}
.ual-covid-fall a{
	color:#284e36;
  font-weight:bold;
  font-size:1.05em;
  text-decoration:underline;
}
.ual-covid-fall a:hover{
	color:#000;
  text-decoration:none;
}
.ual-sep{
	background-color:#FEFCE7;
  border:1px solid #284e36;
  padding:0.7rem;
}
.ual-sep:hover{
	background-color:#FFFCC3;
}

.ual-nav .navbar-brand{
  font-size:3.8rem;
  font-weight:300;
  color:#00492c;
  width:5em;

}
.ual-nav #fr{
    font-size:2.5rem;
  width:8em;

}
.ual-ft {
   background-color: #00492c;
  color:#fff;
  font-size:1.1rem;  
}
.ual-ft a{
  color:#fff;
  font-size:1.1rem;
  font-weight:400;
}
.ual-yellow{
  color:#f2cd00;
  font-size:2.5rem;
}
.ual-ft a:hover{
  color:#f2cd00;
}
.ual-ft-nav li{
  padding:0.6em 0;
}
.ual-ft-bottom{
  display:none;
}
.lead {
    font-size: 1.4rem;
}
.ual-rotate {
  transform: rotate(-2deg);
}
.steps .fab, .steps .fas{
    font-size:35px;
   color:#7AB800;
  }
.steps{
border:#7AB800 4px solid;
  border-radius:5px;
  margin-bottom:10px;
  padding:10px;

 }
.steps p{
  margin-bottom:0;
    min-height:110px;
  }
h3.st{
  background-color:#284e36;
  color:#fff;
  padding:5px 10px;
  border-radius:5px 5px 0 0;
  display:inline-block; 
  margin-bottom:0;
  margin-left:5px;
  }
.dark-mode .ual-container .ual-well h2{
  color:#333;
  }
  .ual-blue{
background-color:#10589B;
  }
ul.spaced li{
  margin-bottom:10px;
}

.dark-mode .card-body{
      background: #333;
      color: #fff;  
      border:3px solid #284e36;
}
.dark-mode .card-body li{ background: #333; color: #fff;}
.dark-mode .card-body p{ color: #fff;}
.dark-mode .card-body a:link{ color: #7ab800;}
.dark-mode .card-body a:visited{ color: #7ab800;}
.dark-mode .ual-container .ual-well li{ color: #fff; background-color: #333;}
.dark-mode .ual-well {background-color: #333; }
.dark-mode .ual-container .ual-well h4{ color:#fff; }
.dark-mode .ual-container .ual-well p{ color:#fff; }
.dark-mode .ual-container .ual-well h2{ color:#fff; }
.dark-mode .ual-container .ual-pale-background {background: #333; border:1px solid #284e36;}
.dark-mode .ual-container .card-body p{ color: #fff;}
.dark-mode .ual-container .card-body li{ color: #fff;}
.dark-mode .ual-container .sidebar p{background: #333;}
.dark-mode .ual-container .sidebar {background: #333;}
.dark-mode .ual-container .sidebar li{color: #fff; background: #333;}
.dark-mode .ual-container .sidebar a:link{color: #7ab800; }
.dark-mode .ual-container .sidebar a:visited{color: #7ab800; }
.dark-mode .sidebar {color:#fff;}
.dark-mode .staff td {background: #333 !important;}
.dark-mode .staff .head td {background: #000 !important;}
.dark-mode .list-group-item { background-color: #333;}
.dark-mode .list-group-item a:link{ color: #7ab800; background-color: #333;}
.dark-mode .list-group-item a:visited{ color: #7ab800; background-color: #333;}
.dark-mode .navbar { background-color:#333; }
.dark-mode .ual-nav { background-color:#00492c; }
.dark-mode .ual-blade .navbar-nav>li>a{ color:#fcf9e2; }
