.cms{
  margin:40px 40px 100px 40px;
}
.cms a{
  font-weight:bold;
}
.cms h2{
  padding-bottom:10px;
  font-size:38px;
  font-weight:bold;
}
.cms h3{
   font-size:29px;
  font-weight:bold;
}
.cms h3 span{
  font-size:18px;
}
.cms h4{
   font-size:22px;
  font-weight:bold;
  margin-bottom:5px;
  margin-top:15px;
}
.cms h2, .cms h3, .cms h4{
	font-family: 'Abel', sans-serif;
}
.cms p, .cms li{
  font-size:16px;
  line-height:26px;
  font-family: 'Open Sans', Arial, sans-serif;
}
.cms .small{
  font-size:12px;
}
.cms .red{
 color:#990000;
}
.cms li.no-list-style{
  list-style:none;
}
.cms .center-align{
  text-align:center;
}
.cms .clean-list{
  padding-left:0px;
}
.cms .clean-list li{
  list-style:none;
  padding:0px;
}
.cms .clean-list li a{
  display:block;
  padding:10px 5px;
 border-bottom:1px solid #B2C6D1;
}
.first{
   border-top:1px solid #B2C6D1;
}
.cms .clean-list li a:hover{
   background-color:#efefef;
}
.cms .clean-list2{
  padding-left:20px;
}
.cms .clean-list2 li{
  list-style:none;
  padding:0px;
  padding:10px 5px;
 border-bottom:1px solid #B2C6D1;
}
.cms .clean-list2 li ul li{
  list-style:disc;
  border-bottom:none;
}
.padding-top{
	padding-top:10px;
}
.sidebar{
  padding:5px 20px;
  background-color:#eceff4;
}
.left-large{
  padding-right:60px;
}
.book-room-list p, .book-room-list h4{
  margin-left:20px;
}
.book-room-list h4{
  margin-bottom:3px;
}
.rules p{
  padding: 10px 0px;
  border-top:2px solid #fff;
  margin:0;
}
.askus{
	padding:0px;
}
.askus li{
  padding:5px 20px;
  list-style:none;
  background-color:#eceff4;
  margin-bottom:20px;
}
.sidebar ul{
  padding-left:0px;
  margin-bottom:20px;
}
.digi-list li, .sidebar li{
  list-style:none;
}
.digi-list li h4{
  font-size:25px;
  font-weight:bold;
  margin-top:30px;
}
.sidebar li a{
  padding:3px 10px;
  background-color:#fff;
  display:block;
  margin-bottom:1px;
}
.sidebar li a:hover{
  background-color:#fffef2;
}
.digi-people li{
  margin-bottom:20px;
}
.book-study-space h3{
  font-size:30px;
}
.book-study-space h4{
  font-size:22px;
  margin-bottom:0px;
  margin-left:30px;
}
.book-study-space p{
	margin-left:30px;
}
.sdesk{
  border-bottom:1px solid #efefef;
  padding-bottom:10px;
  width:76%;
}
.cms p.chat-note{
  font-size:11px;
  font-style:italic;
  margin-right:	200px;
}
.tutorials ul{
   padding-left:0px;
}
.tutorials li{
  display:inline;
  font-size:13px;
  margin-right:10px;
}
.tutorials li a{
  padding:5px 15px 5px 5px; 
  background-color:#eceff4;
}
.tutorials li a:hover{
  background-color:#fffef2;
}
 .tuts-sub{
  margin-bottom:40px;
}
.tuts-sub a{
	font-size: 17px;
	font-weight: bold;
	padding: 5px 10px;
	background-color: #333;
	text-transform: lowercase;
	color: #fff;
	margin: 3px;
	border-radius: 3px;
}

  .tut-list li{
    font-size: 12px;  
    margin-left: -22px;
    line-height: 16px;
}
  .tut-list ol ul{
    margin-left: -23px;
    margin-bottom: 2px;
    margin-top: 15px;
}
   .tut-list h4{
    font-size: 22px; 
 	margin-top: 0;

}
   .tut-list h5{
    font-size: 12px; 
    line-height: 2px;
    padding: 0; 
    font-family: 'Open sans', sans serif;
}
     .tut-list h6{
    font-size: 16px; 
    line-height: 2px;
    padding: 0; 
}
  .tut-list p{
    font-size: 12px;
    line-height: 18px;
    padding-top:16px;
}
   .tut-list h4 span{
    color:#337AB7;
   
}
  .tut-list h5 span{
    font-weight:700;
    font-family: 'Open sans', sans serif;
} 
  #tut-list{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ffffff;
}
.letters{
  margin-right:50px;
}
.letters li{
  float:left;
  list-style:none;
  margin-right:3px;
  margin-bottom:3px;
}
.letters li a{
  display:block;
  padding:3px 8px;
  background-color:#4C6F84;
  color:#fff;
}
.letters li a:hover{
  background-color: #38566c;
}
.aug-img{
	float:left;
}
.aug-sub{
  margin:0px;
  padding:0px;
}
.aug-sub li{
  list-style:none;
  float:left;
}
.aug-sub li a{
  display:block;
  color:#fff;
  margin-right:2px;
  margin-bottom: 2px;
}
.aug-menu{
	padding-top:20px;
}
.aug-sub{
  height:40px;
}
.aug-sub#lit{
height:80px;
}
.aug .btn-primary{
	font-size:120%;
}
.aug .aug-sub .btn-primary{
  font-size:80%;
  padding:5px 8px;
}
.aug table{
	width:95%;
}
.aug img.aug-front{
  float:left;
  width:45%;
  margin:20px 5px;
}
.aug-winner{
  padding-bottom:120px;
}
.rds .alt-nav>div>div>a{
	display: block;
	padding: 0 70px;
	box-shadow: 0px 4px 10px rgba(50, 50, 50, 0.3);
	text-align: center;
	padding: 25px 10px 15px 10px;
	border-radius: 5px;
	margin: 10px 0px 0px 0px;
}
.rds .alt-nav>div>div>a>h3{
	color: #fff;
	font-size: 27px;
	margin-left: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	letter-spacing: 1px;
	font-weight: bold;
}
.rds .alt-nav>div>div>a>p{
	color: #efefef;
	font-size: 17px;
}
.rds .alt-nav>div>div>a>h3>span{
	display: block;
	margin-bottom: 4px;
}
.rds-sub{
  margin-bottom:40px;
}
.rds-sub a{
	font-size: 17px;
	font-weight: bold;
	padding: 5px 10px;
	background-color: #333;
	text-transform: lowercase;
	color: #fff;
	margin: 3px;
	border-radius: 3px;
}
.rds-purchase{
	font-size: 15px;
	font-weight: bold;
	padding: 5px 10px;
	background-color: #333;
	text-transform: lowercase;
	color: #fff;
	border-radius: 3px;
	display: block;
	margin-top: 10px;
	text-align: center;
}
.rds-purchase:hover{
	background-color: #999;
}
.rds-sub a:hover{
	background-color: #666;
}

.rds li{
	margin-left: 20px;
	list-style: disc;
}
.rds li li{
	list-style: circle;
}
.rds h4{
	background-color: transparent;
	font-size: 15px;
	font-weight: bold;
	padding: 0;
}	
.rds h4.no-margin{
	margin-bottom: 0;
	padding-bottom: 0;
}
.rds .quote{
	font-size: 24px;
	line-height: 38px;
	color: #333;
	margin: 20px 0px;
}
.rds .color1{
	background-color: #a11a1a;
}
.rds .color1:hover, .rds .active-color1, .rds .active-color1:hover{
	background-color: #c90e0e;
	}
.rds .color2{
	background-color: #445d42;
}
.rds .color2:hover, .rds .active-color2, .rds .active-color2:hover{
	background-color: #347c2f;
	}
.rds .color3{
	background-color: #354762;
}
.rds .color3:hover, .rds .active-color3, .rds .active-color3:hover{
	background-color: #1f5099;
	}
.rds .color4{
	background-color: #413746;
}
.rds .color4:hover, .rds .active-color4, .rds .active-color4:hover{
	background-color: #4f2162;
	}
.rds .active-color5, .rds .active-color5:hover{
	background-color: #666;
	}
.rds h3{
	text-transform: none;
	font-size: 25px;
	font-weight: normal;
	}
.rds h4{
	font-size: 22px;
	font-weight: normal;
	padding: 10px 0;
	background-color: transparent;
}
.rds p, .rds ul{
	font-size: 18px;
}
.rds p{
	line-height: 28px;
}
.rds ul li{
	margin-left: 30px;
	list-style: disc;
	line-height: 27px;
}
.rds .tools-buttons{
  margin-bottom:20px;
}
.rds-side{
	background-color: #fff;
	padding: 0 20px 20px 20px;
	border: 1px solid #a8b2aa;
}
.rds-side p{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.rds-side h3{
	margin-top: 20px;
	margin-bottom: 0px;
}
.ill-table, .borrowing-table{
	font-size:120%;
  	margin-bottom:20px;
}
.ill-table td, .borrowing-table td{
	padding:7px;
  	border:1px solid #efefef;
}
.borrowing-table th{
  padding:7px;
  border:1px solid #efefef;
  background-color:#4C6F84;
}
.borrowing-table th h5{
    color:#fff;
  font-size:18px;
}

.sub-menu{
  overflow:auto;
  background-color:#eceff4;
  padding:0px 0px 3px 3px;
}
.borrowing-sub{
  padding:0px;
  margin:0px;
  text-align:center;
}
.borrowing-sub li{
  list-style:none;
  float:left;
}
.borrowing-sub li a{
 padding:2px 5px;
 display:block;
 background-color:#fff;
  margin:3px 3px 0px 0px;
  font-size:12px;
  font-weight:bold;
}
 /* About Us 2017 Pages */

#bq-200{  
    background: #ECEFF4;  
    margin: 1px 1px 15px 1px;
    padding: .3em 15px;
    min-height: 200px;
    max-height: 200px;
}
#bq-250{  
    background: #ECEFF4;   
    margin: 1px 1px 15px 1px;
    padding: .3em 15px;
    min-height: 250px;
    max-height: 250px;
}
#bq-300{  
    background: #ECEFF4;  
    margin: 1px 1px 15px 1px;
    padding: .3em 15px;
    min-height: 263px;
    max-height: 263px;
}



p#partner-content {
    font-size: 70%;
    line-height: 1.4em;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-family: 'Open Sans',sans-serif;
}

#partner-title {
    font-size: 17px;
    margin-top: 15px;    
    margin-bottom: 5px;
    font-weight: 700;
    display: block;
    padding-bottom: 5px;
    font-family: 'Open Sans',sans-serif;
}
span#partner-title  {
  }

a#partner-content {
    margin-top: 15px;
    margin-left: -15px;
    margin-bottom: 5px;
    font-weight: 700;
    display: block;
    padding-bottom: 5px;
    font-family: 'Open Sans',sans-serif;
}
#no-left-margin {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
}

#partner-thumb {
    float: right;
    margin-left: -15px;
    width: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #2c733b;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
}

h3#partner-content {
    font-size: 90%;
    margin-top: 10px;
  font-family: 'Open Sans',sans-serif;
}

#partner-content {
    line-height: 1.4em;
}

#quoteproj{
  margin-bottom:15px;
  border-left: none;
  min-height:275px;
  max-height:275px;
    background: #ECEFF4 ;
}
.project img {
    border: 1px solid #ccc;
    padding: 4px;
    float: right;
    width: 100%;
    box-shadow: 1px 1px 5px #ccc;
    margin: 20px 0 10px;
}

a#project-title {    
  	font-size: 95%;
 	margin-top: 15px;
  	margin-bottom:5px;
 	font-weight: 700;
  	display: block;
  	padding-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
  	line-height: 1.2em;
    color:#333333;
}
  
h4#project-content {    
  	font-size: 95%;
    text-align: left;
	margin-top: 15px;
    margin-bottom:35px;
 	font-weight: 700;
  	display: block;
    font-family: 'Open Sans', sans-serif;

}
  
a#project-divide {    
  	font-size: 65%;
	font-weight: 700;
  	display: block;
    font-family: 'Open Sans', sans-serif;
}
  
#project-content {    
  font-size: 60%;
  line-height: 1.4em;
}
  
a#project-content {    
 	font-size: 95%;
	margin-top: 15px;
	margin-left: 0px;
	margin-bottom:5px;
	font-weight: 700;
  	display: block;
    padding-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
  	color:#333333;
} 
  
img#project-content {    
  float: right;
  margin-left:-15px;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #2c733b;
  display:inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
}
  
p#project-content {    
	font-size: 65%;
    line-height: 1.4em;
    margin-top:10px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
#no-left-margin {
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
}


h3#project-content {    
  font-size: 90%;
  margin-top: 10px;
}



  /* About Us 2017 Pages  - XSmall Devices, Tablets */
    @media only screen and (max-width : 768px) {
      
      #bq-200 {

min-height:110px;
max-height: 500px;
}
            #bq-250 {

min-height:100px;
max-height: 500px;
}
      #bq-300  {

 min-height:110px;
 max-height: 700px; 
}
      #quoteproj{

  min-height:295px;
  max-height:405px;

}
      a#project-content  {
	 font-size:80%;

	 }
            h4#project-content  {
	 font-size:60%;

	 }
a#project-title
      {
	 font-size:60%;

	 }
           img#project-content  {
       width: 75%;
     }
    } 
    /*  About Us 2017 Pages - Small Devices, Tablets */
   @media (min-width: 769px) and (max-width : 991px) {
           #quoteproj{
  min-height:420px;
  max-height:420px;

}
     a#project-title
      {
	 font-size:30%;
        line-height: 1.8em;

	 }
     a#project-content
      {
	 font-size:60%;

	 }
          h4#project-content
      {
	 font-size:60%;

	 }
     
     img#project-content  {
       width: 90%;
     }
     
}
     
     
  /* About Us 2017 Pages  -  Medium Devices, Tablets */
    @media (min-width: 992px) and (max-width : 1199px) {

      #quoteproj{
  min-height:325px;
  max-height:325px;

}



    } 